/* MODIF RUVAAKH*/

/*-----------ACROSS THE SITE-----------*/

/*Body BG*/
body {
    background-color: #ffffff;
}

/*-----------NAVBAR-----------*/
/*Navbar Logo KT*/
.navbar-dark .navbar-brand {
    color: #634e00;
}


/*Navbar color*/
nav {
    background-color: #fce188;
}

/*Navbar links*/
.navbar-dark .navbar-nav .nav-link {
    color: #634e00;
}

/*Navbar link hover*/
.navbar .nav-link:hover, .navbar .nav-link:focus {
    background-color: #dca000 !important;
}

/*Dropdown menu color*/
.dropdown-menu {
    background-color: #fce188 !important;
}

.dropdown-item {
    color: #734b00 !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #dacba2;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #dca000;
}

/*Dropdown sections color*/
.dropdown-header {
    color: #d80000;
}

/*Home page links*/
.text-info {
    color: #c37200 !important;
}

/*Home categories divider*/
.bg-dark {
    background-color: #464034 !important;
}

/*BORDER ICONS HOMEPAGE*/
.border {
    border: 1px solid #9a6120 !important;
}

/*-----------TABLES------------*/
.table .thead-light th {
    color: #fff !important;
    background-color: #464034 !important;
    border-color: #464034 !important;
}

/*Color text in tables*/
.table {
    color: #464034; 
}

/*Border table*/
.table-bordered td, .table-bordered th {
    border: 1px solid #fdedb8
}

.table-hover tbody {
    background-color: #fff7de;
}

.table-hover tbody tr:hover {
    color: #796e4a;
    background-color: #fce188;
}

/*Striped Table Row*/
.table-striped tboday tr:nth-of-type(odd) {
    background-color: #7d50001f
}

/*-----------TEXT GLOBAL-----------*/
/*Items with tooltip*/
a[data-toggle="tooltip"] {
    text-decoration-color: #ffd702 !important;
}

a.text-info:hover, a.test-infos:focus {
    color: #000 !important;
}

/* h4 class text */
.text-light {
    color: #efefef;
}

/* h5 class text */
h5 {
    color: #efefef !important;
}

/* h6 class text */
h6 {
    color: #efefef !important;
}

/*h1 class text*/
body {
    color: #734b00;
}

/*-----------CARDS-----------*/
/* Card title */
.card-header {
    background-color : #464034;
}

/*Card Header*/
.card-header a {
    color: #edf0f3;
}

/* Card Body*/
.card {
    color: #523700;
    background-color: #ffedb8 !important;
    border: 1px solid #9a6120 !important;
}

/*Body of a card nested in another card*/
.card .card {
    background-color: #fff6d7 !important;
}

/*Card subtitle (améliorations)*/
.text-muted {
    color: #7d5000 !important;
}

.ghost-card {
    visibility: hidden;
}
/*-----------TABS-----------*/
/*Colors of the active tab*/
.nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #e2be6f !important;
    background-color: #464034 !important;
}

/*Secondary text color portée*/
.text-secondary {
    color: #464034b0 !important;
}

/*Hover link*/
a:hover {
   color: #fff !important;
   }

.card-header a:hover, .navbar-brand:hover {
    color: #fff !important;
}

/*Mng buttons*/
button.btn.btn-secondary.btn-knightools-mng {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5a5a5a), color-stop(#5a5a5a), to(#5a5a5a));
    background-image: linear-gradient(#5a5a5a, #5a5a5a, #5a5a5a);
    }
.btn-secondary.btn-knightools-mng:not([disabled]):not(.disabled):hover{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#101112), color-stop(40%, #17191b), to(#1b1e20));
    background-image: linear-gradient(#101112, #17191b 40%, #1b1e20);
    }

/*Cog button*/

a.btn.btn-sm {
    background-color: #5a5a5a;
}
a.btn.btn-sm:hover {
    background-color: #424242;
}

/*Pop-up sheet parameter*/
.close {
    color: #fff !important;
}

.modal-header {
    background-color: #656565;
}

.modal-body {
    background-color: #333333 !important;
}
.modal-footer {
    background-color: #656565;
}

button.btn.btn-primary.btn-knightools-valid {
background-image: linear-gradient(#585858, #464646 60%,#3a3a3a)
}

button.btn.btn-secondary.btn-knightools-cancel {
background-image: linear-gradient(#585858, #464646 60%,#3a3a3a)
}

.btn-secondary.btn-knightools-cancel:not([disabled]):not(.disabled):hover{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#101112), color-stop(40%, #17191b), to(#1b1e20));
    background-image: linear-gradient(#101112, #17191b 40%, #1b1e20);
