.vt-list-invit {
	width: 10em;
}

.vt-list-manage {
	width: 130px;
}

.vt-list-manage button {
	width: 50px;
}

.vt-list-manage a {
	color: inherit;
}

#stats [id^=div_id_characteristic_]>div:nth-child(2) {
    display: grid;
    grid-template-columns: 40% 40% 20%;
}
#stats [id^=div_id_characteristic_] input {
    max-width: 100%;
}

.slash-separated::after {
	content: '/';
	position: absolute;
	top: 0.5em;
	right: -0.2em;
}

.bg-energy {
	background-color: #6ec5ff;
	color: #000;
}
.bg-hope {
	background-color: #ffffff;
	color: #000;
}
.bg-health {
	background-color: #e60000;
	color: #fff;
}
.bg-armour {
	background-color: #8efe57;
	color: #000;
}
.bg-grenade {
	background-color: #767676;
	color: #fff;
}
.bg-impregnation, .bg-impregnation-difficulty {
	background-color: #f2c5ff;
	color: #000;
}
.bg-flux {
	background-color: #9e3fff;
	color: #fff;
}
.bg-paradox-difficulty {
	background-color: rgb(165, 165, 165);
	color: #000;
}
.bg-force-field {
	background-color: #226acd;
	color: #fff;
}
.bg-aegis {
	background-color: #ffe662;
	color: #000;
}
.bg-gp {
	background-color: #ffd265;
	color: #000;
}
.bg-xp {
	background-color: #beff71;
	color: #000;
}
.bg-hep {
	background-color: #fffcac;
	color: #000;
}

.btn-progress-bar {
	height: 7px;
	background-color: transparent;
	border: 1px dotted #000;
}

.dot {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 1em;
}

.dot.grey {
	background-color: rgb(128, 128, 128);
}

.dot.green {
	background-color: rgb(42, 226, 42);
}

.input-group-sm > .input-group-prepend > .input-group-fake, .input-group-sm > .input-group-append > .input-group-fake {
	background: none;
	border-left: 1px solid transparent;
}

.damage-label {
	width: 8em;
}

.CodeMirror {
	height: 350px;
}

.w-15 {
	width: 15% !important;
}

.redo-roll {
	width: 40px;
}

.stat-value a.button-redo:hover {
        color: #fff !important;
}

div[data-display="compressed"] .max-width-when-compressed {
	max-width: 100%;
	flex: 0 0 100%;
}

.stat-value a:hover {
        color: #272B30 !important;
}

