{% extends 'virtualtable/base.html' %}

{% load static %}
{% load martortags %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load gm_extras %}

{% block content %}
<form method="post">
    <h1 class="text-center">Création de personnage</h1>
    {% csrf_token %}
    {% crispy form %}
</form>
{% endblock %}