{% extends "virtualtable/base.html" %}
{% load static %}
{% load martortags %}
{% load gm_extras %}
{% load i18n %}

{% block title %}{% trans "Table" %} {{ virtualtable.name }} - {% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'virtualtable/js/virtualtable.js' %}"></script>
    <script type="text/javascript" src="{% static 'virtualtable/js/jquery.sortable.min.js' %}"></script>
{% endblock js %}

{% block content %}
{% if not virtualtable %}
    <h1 class="mt-3">{% trans "Erreur : Table inexistante ou privée" %}</h1>

    <p>
        {% trans "Impossible de rejoindre cette table. Vérifiez qu'elle existe et que vous en êtes soit le créateur, soit un joueur. Si elle existe, demandez à son créateur de régénérer le lien d'invitation et créez d'abord un personnage à cette table avant de chercher à la consulter." %}
    </p>
{% else %}
    <h1 class="text-center mt-3" data-vt="{{ virtualtable.id }}">{{ virtualtable.name }}</h1>
    {% if virtualtable.game_master == user %}
        <div class="row mt-3 ">
            <div class="col-12 mb-5">
                <div class="card">
                    <div class="card-header text-center">
                        {% trans "Gestionnaire de dégâts" %}
                    </div>
                    <div class="card-body" id="damage-manager">
                        <div class="row pb-3">
                            <div class="col">
                                <button type="button" class="float-left btn m-0 align-middle btn-sm btn-warning" onclick="virtual_table.reset_damage_form();"><i class="fas fa-redo"></i> {% trans "Réinitialiser" %}</button>
                                <button type="button" class="float-right btn m-0 align-middle btn-sm btn-danger" onclick="virtual_table.hurt();"><i class="fas fa-biohazard"></i> {% trans "Appliquer" %} <i class="fas fa-biohazard"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg text-center">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text damage-label" for="damage-value">{% trans "Dégâts" %}</label>
                                    </div>
                                    <input type="number" id="damage-value" class="numberinput form-control" aria-label="{% trans 'Dégâts' %}" aria-describedby="damage-value">
                                </div>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text damage-label" for="damage-target">{% trans "Stat cible" %}</label>
                                    </div>
                                    <select class="custom-select" id="damage-target">
                                        <option value="hp">{% trans "Santé" %}</option>
                                        <option value="ap">{% trans "Armure" %}</option>
                                        <option value="ep">{% trans "Énergie" %}</option>
                                        <option value="hop">{% trans "Espoir" %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg text-center">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text damage-label" for="damage-ignore-ff">{% trans "Ignore CdF" %}</label>
                                    </div>
                                    <div class="input-group-append">
                                        <div class="input-group-text input-group-fake">
                                            <input type="checkbox" id="damage-ignore-ff" aria-label="{% trans 'Ignore CdF' %}">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text damage-label" for="damage-penetrating">{% trans "Pénétrant" %}</label>
                                    </div>
                                    <input type="number"  id="damage-penetrating" class="numberinput form-control" aria-label="{% trans 'Pénétrant' %}" aria-describedby="damage-penetrating">
                                </div>
                            </div>
                            <div class="col-12 col-lg text-center">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text damage-label" for="damage-ignore-armour">{% trans "Ignore Armure" %}</label>
                                    </div>
                                    <div class="input-group-append">
                                        <div class="input-group-text input-group-fake">
                                            <input type="checkbox" id="damage-ignore-armour" aria-label="{% trans 'Ignore Armure' %}">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text damage-label" for="damage-armour-piercing">{% trans "Perce armure" %}</label>
                                    </div>
                                    <input type="number"  id="damage-armour-piercing" class="numberinput form-control" aria-label="{% trans 'Perce armure' %}" aria-describedby="damage-armour-piercing">
                                </div>
                            </div>
                            <div class="col-12 col-lg text-center">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text damage-label" for="damage-aegis-active">{% trans "Égide active" %}</label>
                                    </div>
                                    <div class="input-group-append">
                                        <div class="input-group-text input-group-fake">
                                            <input type="checkbox" id="damage-aegis-active" aria-label="{% trans 'Égide active' %}">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text damage-label" for="damage-recoverable" data-toggle="tooltip" title="{% trans 'Uniquement sur PES ou PE, permet de récupérer 1D6 par tranche de 6 points perdus en fin de combat.' %}">{% trans "Récupérable ?" %}</label>
                                    </div>
                                    <div class="input-group-append">
                                        <div class="input-group-text input-group-fake">
                                            <input type="checkbox" id="damage-recoverable" aria-label="{% trans 'Récupérable' %}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 pt-3"></div>
                            <div class="col-12 col-lg text-center">
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text damage-label" for="gm-die-number">{% trans "Lancer de dés" %}</label>
                                    </div>
                                    <input type="number"  id="gm-die-number" class="numberinput form-control die-number" min="0" max="999" aria-label="{% trans 'Nombre de dés' %}" placeholder="{% trans 'Nb dés' %}">
                                    <div class="input-group-append">
                                        <label class="input-group-text">D6</label>
                                    </div>
                                    <input type="number"  id="gm-bonus-number" class="numberinput form-control bonus-number" min="-999" max="999" aria-label="{% trans 'Overdrives' %}" placeholder="{% trans 'Bonus' %}">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary btn-share" data-toggle="button" title="{% trans 'Partager le résultat (si activé, le résultat sera inclus dans chaque historique de personnage)' %}">
                                            <i class="fas fa-share-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg text-center">
                                <div class="btn-group btn-group-sm w-100" role="group" aria-label="{% trans 'Test area'%}">
                                    <button type="button" class="btn btn-sm btn-success roll-cmb" onclick="virtual_table.roll_combo(this, true);"><i class="fas fa-dice"></i> {% trans "Combo" %}</button>
                                    <button type="button" class="btn btn-sm btn-success roll-spr" onclick="virtual_table.roll_support(this, true);" title="{% trans 'Aider au test d\'un autre chevalier. Conséquence : OD (bonus) désactivé, exploit désactivé, échec critique désactivé' %}"><i class="fas fa-people-carry"></i> {% trans "Support" %}</button>
                                    <button type="button" class="btn btn-sm btn-warning roll-dmg" onclick="virtual_table.roll_damage(this, true);"><i class="fas fa-skull"></i> {% trans "Dégâts" %}</button>
                                    <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#result-history-gm"><i class="fas fa-history"></i> {% trans "Histo" %}</button>
                                </div>
                            </div>
                            <div class="col-12 col-lg text-center result-last-test">
                                <span class="d-none special-effect fail"><i class="text-danger mr-1 fas fa-poo"></i> {% trans "Echec critique !" %} </span>
                                <span class="d-none special-effect exploit"><i class="text-success mr-1 fas fa-trophy"></i> {% trans "Exploit" %} - </span>
                                <span class="d-none special-effect combo"><i class="mr-1 fas fa-dice"></i></span>
                                <span class="d-none special-effect damage"><i class="text-warning mr-1 fas fa-skull"></i></span>
                                <span class="test-combo mr-1"></span>
                                <span class="test-result"></span>
                            </div>
                            <div class="col-12 pt-3">
                                <div class="row text-center">
                                    <div class="col">
                                        <button type="button" data-toggle="tooltip" data-html="true" class="btn btn-sm" onclick="virtual_table.kill_npc();" title="{% trans '<ul><li>Calcule les valeurs récupérables (PES et PE) pour les personnages sélectionnés</li></ul>' %}"><i class="fas fa-recycle"></i> {% trans 'Mort PNJ' %} <i class="fas fa-recycle"></i></button>
                                    </div>
                                    <div class="col">
                                        <button type="button" data-toggle="tooltip" data-html="true" class="btn btn-sm" onclick="virtual_table.end_battle();" title="{% trans '<ul><li>Calcule les valeurs récupérables (PES et PE) pour tous les personnages</li><li>(Psion) Remet à 0 les Points de Flux</li><li>(Warlock) Remet à 0 la difficulté du paradoxe temporel</li></ul>' %}"><i class="fas fa-medal"></i> {% trans 'Fin de combat' %} <i class="fas fa-medal"></i></button>
                                    </div>
                                    <div class="col">
                                        <button type="button" data-toggle="tooltip" data-html="true" class="btn btn-sm" onclick="virtual_table.open_reward();" title="{% trans '<ul><li>Restaure les PA, PS et PE</li><li>Calcule les valeurs récupérables (PES)</li><li>Ouvre le formulaire de distribution de PG et PX</li><li>(Psion) Remet à 0 les Points de Flux</li><li>(Shaman) Remet à 0 la difficulté d\'imprégnation</li><li>(Warlock) Remet à 0 la difficulté du paradoxe temporel</li></ul>' %}"><i class="fas fa-medkit"></i> {% trans 'Fin de mission' %} <i class="fas fa-medkit"></i> </button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal" id="result-history-gm" tabindex="-1" role="dialog" aria-labelledby="{% trans 'Historique des tests' %}" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{% trans 'Historique des tests du MJ' %}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="toggle-history-buttons">
                                                <button type="button" class="btn btn-info" onclick="virtual_table.toggle_history(this);" data-action="show"><i class="fas fa-eye"></i> {% trans 'Afficher tous les résultats' %}</button>
                                                <button type="button" class="btn btn-info d-none" onclick="virtual_table.toggle_history(this);" data-action="hide"><i class="fas fa-eye-slash"></i> {% trans 'Afficher les derniers résultats' %}</button>
                                            </div>
                                            <div class="history-results">
                                                {% for roll in virtualtable.get_last_gm_rolls %}
                                                    {% include 'virtualtable/vt_detail_roll.html' with roll=roll user=user character=None only %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div id="vtp-list" class="row mt-3">
        {% for character in virtualtable.players_list %}
            {% include 'virtualtable/vt_detail_character.html' %}
        {% endfor %}
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header text-center position-relative">
                    <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapseDescriptif" aria-expanded="false" aria-controls="collapseDescriptif">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans "Informations sur la table" %}
                            <i class="fa fa-plus-square"></i>
                        </h5>
                    </a>
                </div>
                <div id="collapseDescriptif" class="collapse" aria-labelledby="descriptif">
                    <div id="avalon-access" class="text-right p-2 {% if not virtualtable.active_avalon %}d-none{% endif %}">
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#avalon"><i class="fas fa-hot-tub"></i> {% trans "Avalon" %}</button>
                    </div>
                    <div id="vt-description" class="card-body text-justify">
                        {{ virtualtable.description|safe_markdown }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateValues" tabindex="-1" role="dialog" aria-labelledby="updateValuesLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateValuesLabel">{% trans "Modifier" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form data-vtp="" onsubmit="virtual_table.save(); return false;">
                        <div class="form-group">
                            <label for="current-value" class="col-form-label col-form-label-sm">{% trans "Valeur actuelle :" %}</label>
                            
                            <div class="input-group input-group-sm">
                                <input type="number" class="form-control" id="current-value">
                                <div class="input-group-append">
                                    <label class="input-group-text">+</label>
                                </div>
                                <input type="number" class="form-control" id="current-value-add" placeholder="{% trans '-x pour soustraire' %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="max-value" class="col-form-label col-form-label-sm" data-max-label="{% trans 'Valeur max :' %}" data-default-label="{% trans 'Valeur par défaut :' %}">{% trans "Valeur max :" %}</label>
                            <input type="number" class="numberinput form-control form-control-sm" id="max-value">
                        </div>
                        <div class="form-group recoverable">
                            <label for="recoverable-value" class="col-form-label col-form-label-sm">{% trans "Dégâts récupérables :" %}</label>
                            <input type="number" class="numberinput form-control form-control-sm" id="recoverable-value">
                        </div>
                        <div class="d-none">
                            <input type="submit" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-knightools-valid" onclick="virtual_table.save();">{% trans "Enregistrer" %}</button>
                    <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateName" tabindex="-1" role="dialog" aria-labelledby="updateNameLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateNameLabel">{% trans "Modifier le nom" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form data-vtp="" onsubmit="virtual_table.change_name(); return false;" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="vtp-name-value" class="col-form-label col-form-label-sm">{% trans "Nom :" %}</label>
                            <input type="text" class="form-control form-control-sm" id="vtp-name-value" required>
                            <div class="invalid-feedback">
                                {% trans "Le nom doit au moins contenir une lettre autre qu'espace." %}
                            </div>
                        </div>
                        <div class="d-none">
                            <input type="submit" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-knightools-valid" onclick="virtual_table.change_name();">{% trans "Enregistrer" %}</button>
                    <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="config-vtp" tabindex="-1" role="dialog" aria-labelledby="config-vtp-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="config-vtp-label">{% trans "Paramétrer la fiche" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form data-vtp="" onsubmit="virtual_table.config_vtp(); return false;" class="needs-validation" novalidate>
                        <div class="row mb-3">
                            <div class="col-12">
                                <h6>
                                    <div class="pretty p-icon p-smooth p-plain">
                                        <input type="checkbox" class="display-management" value=".tab-status" />
                                        <div class="state p-success-o">
                                            <i class="icon fa fa-heartbeat"></i>
                                            <label>{% trans 'Statut' %}</label>
                                        </div>
                                    </div>
                                </h6>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-health-points" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "PS (Points de Santé)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "PS (Points de Santé)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-armour-points" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "PA (Points d'Armure)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "PA (Points d'Armure)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-energy-points" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "PE (Points d'Énergie)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "PE (Points d'Énergie)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-hope-points" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "PES (Points d'ESpoir)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "PES (Points d'ESpoir)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".counter-force-field" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "CdF (Champ de Force)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "CdF (Champ de Force)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".counter-aegis" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "Egd (Égide)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "Egd (Égide)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="form-group row mb-0">
                                    <label class="col-sm-6 col-form-label col-form-label-sm" for="armour-bar">{% trans "Jauges d'armures" %}</label>
                                    <div class="col-sm-6">
                                        <select class="form-control form-control-sm" id="armour-bar">
                                            <option value="">Aucune</option>
                                            <option value=".armour-psion">{% trans "Psion" %}</option>
                                            <option value=".armour-shaman">{% trans "Shaman" %}</option>
                                            <option value=".armour-warlock">{% trans "Warlock" %}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <h6>
                                    <div class="pretty p-icon p-smooth p-plain">
                                        <input type="checkbox" class="display-management" value=".tab-stock" />
                                        <div class="state p-success-o">
                                            <i class="icon fa fa-toolbox"></i>
                                            <label>{% trans 'Stock' %}</label>
                                        </div>
                                    </div>
                                </h6>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-health-nods" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "Nod S (Nods de Santé)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "Nod S (Nods de Santé)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-armour-nods" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "Nod A (Nods d'Armure)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "Nod A (Nods d'Armure)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-energy-nods" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "Nod E (Nods d'Énergie)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "Nod E (Nods d'Énergie)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-grenades-stock" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "Gr. I (Grenades Intelligentes)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "Gr. I (Grenades Intelligentes)" %}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <h6>
                                    <div class="pretty p-icon p-smooth p-plain">
                                        <input type="checkbox" class="display-management" value=".tab-legend" />
                                        <div class="state p-success-o">
                                            <i class="icon fa fa-trophy"></i>
                                            <label>{% trans 'Légende' %}</label>
                                        </div>
                                    </div>
                                </h6>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-hero-points" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "PH (Points d'Héroïsme)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "PH (Points d'Héroïsme)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-glory-points" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "PG (Points de Gloire)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "PG (Points de Gloire)" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 mt-2">
                                <div class="pretty p-icon p-toggle p-plain">
                                    <input type="checkbox" class="display-management" value=".bar-experience-points" />
                                    <div class="state p-on p-success-o">
                                        <i class="icon fa fa-eye"></i>
                                        <label>{% trans "PX (Points d'eXpérience)" %}</label>
                                    </div>
                                    <div class="state p-off p-danger-o">
                                        <i class="icon fa fa-eye-slash"></i>
                                        <label>{% trans "PX (Points d'eXpérience)" %}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if virtualtable.game_master == user %}
                            <div class="row">
                                <div class="col-12">
                                    <h6>{% trans 'Configuration fiche' %}</h6>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="pretty p-icon p-toggle p-plain">
                                        <input type="checkbox" id="ignore-health-loss-by-armour" />
                                        <div class="state p-on p-success-o">
                                            <i class="icon fa fa-check-square"></i>
                                            <label>{% trans "Avantage «Infatigable» (ignore la perte de PS sur les pertes de PA)" %}</label>
                                        </div>
                                        <div class="state p-off p-danger-o">
                                            <i class="icon fa fa-ban"></i>
                                            <label>{% trans "Avantage «Infatigable» (ignore la perte de PS sur les pertes de PA)" %}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-6 col-form-label col-form-label-sm" for="edit-level">{% trans "Modifiable par" %}</label>
                                        <div class="col-sm-6">
                                            <select class="form-control form-control-sm" id="edit-level">
                                                <option value="{% get_vtp_edit_lvl 'EDIT_LVL_GM' %}"><i class="fas fa-user-shield"></i> {% trans "MJ Uniquement" %}</option>
                                                <option value="{% get_vtp_edit_lvl 'EDIT_LVL_PLAYER' %}"><i class="fas fa-user-friends"></i> {% trans "MJ et propriétaire" %}</option>
                                                <option value="{% get_vtp_edit_lvl 'EDIT_LVL_ALL' %}"><i class="fas fa-globe"></i> {% trans "Tout le monde" %}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="d-none">
                            <input type="submit" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-knightools-valid" onclick="virtual_table.config_vtp();">{% trans "Enregistrer" %}</button>
                    <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="rewards" tabindex="-1" role="dialog" aria-labelledby="rewards-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rewards-label">{% trans "Récompenses" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form onsubmit="virtual_table.end_mission(); return false;" class="needs-validation" novalidate>
                        <div class="row text-center">
                            <div class="col">
                                <div class="form-group">
                                    <label for="reward-gp" class="col-form-label col-form-label-sm text-center">{% trans "PG (gloire) :" %}</label>
                                    <input type="number" class="numberinput form-control form-control-sm sync-reward" id="reward-gp" min="0">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="reward-xp" class="col-form-label col-form-label-sm text-center">{% trans "PX (expérience) :" %}</label>
                                    <input type="number" class="numberinput form-control form-control-sm sync-reward" id="reward-xp" min="0">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="reward-hep" class="col-form-label col-form-label-sm text-center">{% trans "PH (héroïsme) :" %}</label>
                                    <input type="number" class="numberinput form-control form-control-sm sync-reward" id="reward-hep" min="0">
                                </div>
                            </div>
                            <div class="col-12">
                                <h4>
                                    <i class="fas fa-arrow-down"></i>
                                </h4>
                            </div>
                        </div>
                        <div>
                            <table class="table table-sm">
                                <thead class="text-center">
                                    <tr>
                                        <th>{% trans "Perso" %}</th>
                                        <th>{% trans "PG" %}</th>
                                        <th>{% trans "PX" %}</th>
                                        <th>{% trans "PH" %}</th>
                                    </tr>
                                </thead>
                                <tbody id="rewards-players"></tbody>
                                <template id="reward-template">
                                    <tr>
                                        <td class="align-middle name"></td>
                                        <td class="align-middle"><input type="number" class="numberinput form-control form-control-sm" value="0" data-source="reward-gp" min="0"></td>
                                        <td class="align-middle"><input type="number" class="numberinput form-control form-control-sm" value="0" data-source="reward-xp" min="0"></td>
                                        <td class="align-middle"><input type="number" class="numberinput form-control form-control-sm" value="0" data-source="reward-hep" min="0"></td>
                                    </tr>
                                </template>
                            </table>
                        </div>
                        <div class="d-none">
                            <input type="submit" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-knightools-valid" onclick="virtual_table.end_mission();">{% trans "Enregistrer" %}</button>
                    <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="avalon" tabindex="-1" role="dialog" aria-labelledby="avalon-label" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="avalon-label">{% trans "Gestion d'Avalon" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include 'virtualtable/vt_detail_avalon.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
