{% extends "virtualtable/base.html" %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des tables" %} - {% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-12 mb-2">
        <a class="btn btn-primary float-right" href="{% url 'virtualtable:vt_help' %}" target="_blank" title="{% trans "Besoin d'aide ?" %}"><i class="fas fa-question-circle"></i> {% trans "Besoin d'aide ?" %}</a>
    </div>
    <div class="col-12">
        <table class="table table-sm table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="text-center">{% trans "Invitation" %}</th>
                    <th scope="col" class="text-center">{% trans "Nom" %}</th>
                    <th scope="col" class="text-center">{% trans "Description" %}</th>
                    <th scope="col" class="text-center">{% trans "Personnages" %}</th>
                    <th scope="col" class="text-center">
                        {% trans "Actions" %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if not virtualtable_list %}
                    <tr>
                        <td colspan="5" class="font-italic text-center">{% trans "Aucune table créée ni rejointe. Demandez à un MJ de vous fournir un lien d'invitation afin de pouvoir rejoindre une table" %}{% if user.game_master %}{% trans " ou créez en une directement" %}{% endif %}.</td>
                    </tr>
                {% endif %}
                {% for vt in virtualtable_list %}
                    <tr>
                        <td class="align-middle text-center vt-list-invit">
                            {% if not vt.token_has_expired %}
                                <div class="input-group">
                                    <input final-url="{% url 'virtualtable:join' vt.invitation_token %}" type="text" class="form-control" placeholder="{% trans 'Invitation' %}" aria-label="{% trans 'Invitation' %}" value="{{ vt.invitation_token }}">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" onclick="knightools.copy_invitation(this);">
                                            <i class="fas fa-copy"></i>
                                        </button>
                                    </div>
                                </div>
                            {% else %}
                                {% trans 'Fermée' %}
                            {% endif %}
                        </td>
                        <td class="align-middle text-center">{{ vt.name }}</td>
                        <td class="align-middle">{{ vt.description|safe_markdown }}</td>
                        <td class="align-middle">
                            {% if vt.players.all %}
                                <ul>
                                    {% for character in vt.players.all %}
                                        <li>{{ character.name }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                {% trans "Aucun" %}
                            {% endif %}
                        </td>
                        <td class="align-middle text-center vt-list-manage">
                            <div class="btn-group btn-group" role="group" aria-label="Basic example">
                                <a href="{% url 'virtualtable:vt_detail' vt.id %}">
                                    <button type="button" role="button" class="btn btn-success" title="{% trans 'Voir' %}">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </a>
                                {% if vt.owned_by_user %}
                                    <a href="{% url 'virtualtable:vt_update' vt.id %}">
                                        <button type="button" role="button" class="btn btn-secondary" title="{% trans 'Gérer' %}">
                                            <i class="fas fa-cog"></i>
                                        </button>
                                    </a>
                                    <a href="{% url 'virtualtable:vt_delete' vt.id %}">
                                        <button type="button" role="button" class="btn btn-danger" title="{% trans 'Supprimer' %}">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            {% if user.game_master %}
            <tfoot>
                <tr>
                    <td colspan="5">
                        <a href="{% url 'virtualtable:vt_create' %}" class="btn btn-success"><i class="fas fa-plus"></i> {% trans "Créer" %}</a>
                    </td>
                </tr>
            </tfoot>
            {% endif %}
        </table>
    </div>
</div>

{% endblock %}