{% extends "virtualtable/base.html" %}
{% load static %}
{% load martortags %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Modification d'une table" %} - {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'virtualtable/css/simplemde.min.css' %}" />
    {{ block.super }}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'virtualtable/js/simplemde.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'virtualtable/js/virtualtable_manager.js' %}"></script>
{% endblock js %}

{% block content %}
    {% if not object %}
        <h1 class="mt-3">{% trans "Erreur : Table inaccessible" %}</h1>
        
        <p>
            {% trans "Vous n'êtes pas le MJ de cette table." %}
        </p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.vtp_to_del }}
            {{ form.vtp_to_migrate }}
            <!-- <input type="hidden" id="vtp-to-del" name="vtp-to-del" value="" /> -->
            <div class="row">
                <div class="col-12">
                    <h3>{% trans "Informations" %}</h3>
                </div>
                <div class="col-4">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.max_character|as_crispy_field }}
                </div>
                <div class="col-5">
                    {{ form.token_valid_duration|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.active_avalon|as_crispy_field }}
                </div>
                <div class="col-6 text-right">
                    {{ form.regen|as_crispy_field }}
                </div>
                <div class="col-10 knightools-mde">
                    {{ form.description|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3>{% trans "Joueurs" %}</h3>
                </div>
                <div class="col-12">
                    <table class="table table-sm table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="align-middle text-center">{% trans "Nom" %}</th>
                                <th scope="col" class="text-center">{% trans "PS" %}</th>
                                <th scope="col" class="text-center">{% trans "PA" %}</th>
                                <th scope="col" class="text-center">{% trans "PE" %}</th>
                                <th scope="col" class="text-center">{% trans "PES" %}</th>
                                <th scope="col" class="text-center">{% trans "CdF" %}</th>
                                <th scope="col" class="text-center">{% trans "Egd" %}</th>
                                <th scope="col" class="text-center">{% trans "PH" %}</th>
                                <th scope="col" class="text-center">{% trans "PG" %}</th>
                                <th scope="col" class="text-center">{% trans "PX" %}</th>
                                <th scope="col" class="align-middle text-center">{% trans "Accès modif" %}</th>
                                <th scope="col" class="align-middle text-center">{% trans "Migrer sur" %}</th>
                                <th scope="col" class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for player in virtualtable.players.all %}
                                <tr vtp-id="{{ player.id }}">
                                    <td class="text-center vtp-name">{{ player.name }}</td>
                                    <td class="text-center">
                                        {% if player.current_health_points is not None %}
                                            {{ player.current_health_points }}
                                        {% else %}
                                            ?
                                        {% endif %}
                                        /
                                        {% if player.max_health_points is not None %}
                                            {{ player.max_health_points }}
                                        {% else %}
                                            ?
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if player.current_armour_points is not None %}
                                            {{ player.current_armour_points }}
                                        {% else %}
                                            ?
                                        {% endif %}
                                        /
                                        {% if player.max_armour_points is not None %}
                                            {{ player.max_armour_points }}
                                        {% else %}
                                            ?
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if player.current_energy_points is not None %}
                                            {{ player.current_energy_points }}
                                        {% else %}
                                            ?
                                        {% endif %}
                                        /
                                        {% if player.max_energy_points is not None %}
                                            {{ player.max_energy_points }}
                                        {% else %}
                                            ?
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if player.current_hope_points is not None %}
                                            {{ player.current_hope_points }}
                                        {% else %}
                                            ?
                                        {% endif %}
                                        /
                                        {% if player.max_hope_points is not None %}
                                            {{ player.max_hope_points }}
                                        {% else %}
                                            ?
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if player.current_force_field is not None %}
                                            {{ player.current_force_field }}
                                        {% else %}
                                            ?
                                        {% endif %}
                                        {% if player.default_force_field is not None %}
                                            ({{ player.default_force_field }})
                                        {% else %}
                                            (?)
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if player.current_aegis is not None %}
                                            {{ player.current_aegis }}
                                        {% else %}
                                            ?
                                        {% endif %}
                                        {% if player.default_aegis is not None %}
                                            ({{ player.default_aegis }})
                                        {% else %}
                                            (?)
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if player.current_heroism_points is not None %}
                                            {{ player.current_heroism_points }}
                                        {% else %}
                                            ?
                                        {% endif %}
                                        /
                                        {% if player.max_heroism_points is not None %}
                                            {{ player.max_heroism_points }}
                                        {% else %}
                                            ?
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if player.current_gp is not None %}
                                            {{ player.current_gp }}
                                        {% else %}
                                            ?
                                        {% endif %}
                                        /
                                        {% if player.total_gp is not None %}
                                            {{ player.total_gp }}
                                        {% else %}
                                            ?
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if player.current_xp is not None %}
                                            {{ player.current_xp }}
                                        {% else %}
                                            ?
                                        {% endif %}
                                        /
                                        {% if player.total_xp is not None %}
                                            {{ player.total_xp }}
                                        {% else %}
                                            ?
                                        {% endif %}
                                    </td>
                                    <td class="text-center">{{ player.get_edit_level_display|capfirst }}</td>
                                    <td>
                                        <select class="migrate">
                                            {% for sister in virtualtable.sisters %}
                                                <option value="{{ sister.id }}" {% if virtualtable.id == sister.id%}selected{% endif %}>{{ sister.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        {% spaceless %}
                                        <div class="btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-sm btn-outline-danger">
                                                <input class="vtp-del" type="checkbox" autocomplete="off"><i class="fas fa-user-times"></i>
                                            </label>
                                        </div>
                                        {% endspaceless %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <button type="submit" class="btn btn-success">{% trans "Enregistrer" %}</button>
        </form>
    {% endif %}
{% endblock %}