{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "FAQ" %} - {% endblock %}

{% block content %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "FAQ" %}</h1>
        {% for category, displayed in displayed_categories %}
        
            {% if displayed %}
                <div class="{{ category.css_classes}}">
                    <div class="title">{{ category.name }}</div>
                    {% for question in category.questions.all %}
                        <strong class="question">[{{ question.id }}] - {{ question.question }}</strong>
                        <div class="markdown-format text-justify">
                            {{ question.answer|safe_markdown }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}