{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des archétypes" %} - {% endblock %}

{% block content %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "Liste des archétypes" %}</h1>
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Introduction" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            La création d'un personnage de Knight commence avec le choix d'un archétype, c'est-à-dire d'un concept très général définissant les bases du héros et, souvent, son origine. Ces archétypes ne sont pas fermés et créer une histoire autour est nécessaire pour avoir un personnage étoffé et complet. Ils ne sont en rien restrictifs et permettent juste de poser l'idée d'un personnage. Enfin, chaque archétype apporte un bonus en termes de caractéristiques, à ajouter directement sur la feuille de personnage.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-sm-block mt-3">
        {% include 'gm/misc/filter_datatable.html' only %}
        <table class="table table-sm table-striped table-bordered dt-enable">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="text-center">{% trans "Nom" %}</th>
                    <th scope="col" class="text-center w-50">{% trans "Description" %}</th>
                    <th scope="col" class="text-center">{% trans "Bonus carac." %}</th>
                </tr>
            </thead>
            <tbody>
                {% for archetype in archetype_list %}
                    <tr>
                        <td data-order="{{ archetype.name|slugify }}" class="align-middle text-center position-relative">
                            <a class="stretched-link" href="{% url 'gm:archetype_detail' archetype.slug %}">{{ archetype.name }}</a>
                        </td>
                        <td class="align-middle text-justify p-2">{{ archetype.description|truncatewords:30 }}</td>
                        <td class="align-middle">
                            {% if archetype.characteristic_bonus_1 or archetype.characteristic_bonus_2 or archetype.characteristic_bonus_3 %}
                                <ul class="m-0">
                                    <li>{{ archetype.characteristic_bonus_1.name }}</li>
                                    <li>
                                        {{ archetype.characteristic_bonus_2.name }}
                                        {% if archetype.characteristic_bonus_3 %}
                                            {% blocktrans trimmed with charac_name=archetype.characteristic_bonus_3.name %}
                                                OU {{ charac_name }}
                                            {% endblocktrans %}
                                        {% endif %}
                                    </li>
                                </ul>
                            {% else %}
                                {% trans 'Deux différentes au choix, à définir' %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="d-block d-sm-none mt-3">
        {% for archetype in archetype_list %}
            <div class="card my-3">
                <div class="card-header position-relative">
                    <h5 class="text-center"><a class="stretched-link" href="{% url 'gm:archetype_detail' archetype.slug %}">{{ archetype.name }}</a></h5>
                </div>
                <div class="card-body">
                    <div>
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" colspan="2">{% trans "Bonus carac." %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% if archetype.characteristic_bonus_1 or archetype.characteristic_bonus_2 or archetype.characteristic_bonus_3 %}
                                        <td class="text-center">
                                            {{ archetype.characteristic_bonus_1.name }}
                                        </td>
                                        <td class="text-center">
                                            {{ archetype.characteristic_bonus_2.name }}
                                            {% if archetype.characteristic_bonus_3 %}
                                                {% blocktrans trimmed with charac_name=archetype.characteristic_bonus_3.name %}
                                                    OU {{ charac_name }}
                                                {% endblocktrans %}
                                            {% endif %}
                                        </td>
                                    {% else %}
                                        <td class="text-center" colspan="2">{% trans 'Deux différentes au choix, à définir' %}</td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-justify">
                        {{ archetype.description }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}