{% extends 'gm/base.html' %}
{% load static %}
{% load i18n %}
{% load gm_extras %}

{% block title %}{% trans "Liste des armures" %} - {% endblock %}

{% block content %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "Liste des armures" %}</h1>
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Introduction" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            À ce stade de la création de personnage, il est temps pour le joueur de choisir la méta-armure de son héros. Cœur du jeu, ces armures de combat vont faire des chevaliers de véritables (super) héros, capables de prouesses extraordinaires. Bien sélectionner et surtout apprécier sa méta-armure est très important.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Chaque méta-armure existe en un nombre d'exemplaires limité et un personnage ne peut donc posséder qu'une méta-armure. Elle est d'ailleurs personnalisée et personnelle. C'est véritablement une partie intégrante du chevalier, une extension de lui-même qui le rend meilleur dans tous les domaines. Un joueur peut choisir n'importe quelle méta-armure pour son personnage. Il est cependant conseillé de se concerter avec les autres joueurs pour former une équipe équilibrée, avec des armures complémentaires ou tout du moins sans avoir quatre fois le même modèle de méta-armure dans un même groupe.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            La description de chaque méta-armure est composée ainsi : un historique et une présentation, une ou plusieurs capacités d'armure, un nombre de slots, des scores d'overdrives et, enfin, des scores en points d'armure, points d'énergie et champ de force. Référez-vous au Livre de Base pour savoir comment lire toutes ces données.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Toutes ces indications sont à noter sur les feuilles adéquates. Voici une présentation plus en détail de ces différentes données.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {% include 'gm/misc/filter_datatable.html' with sources=sources user=user only %}
            <table class="table table-sm table-striped table-bordered dt-enable">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="text-center">{% trans "Nom" %}</th>
                        <th scope="col" style="width: 15rem;" class="text-center">{% trans "Capacités" %}</th>
                        <th scope="col" class="d-none d-md-table-cell text-center">{% trans "PA" %}</th>
                        <th scope="col" class="d-none d-md-table-cell text-center">{% trans "PE" %}</th>
                        <th scope="col" class="d-none d-md-table-cell text-center">{% trans "CdF" %}</th>
                        <th scope="col" class="d-none d-lg-table-cell text-center">{% trans "Slots" %}</th>
                        <th scope="col" class="text-center">{% trans "Overdrives" %}</th>
                        <th scope="col" class="source d-none d-md-table-cell text-center">{% trans "Source" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for armour in armour_list %}
                        <tr>
                            <td data-order="{{ armour.name|slugify }}" class="align-middle text-center position-relative">
                                {% if armour not in allowed_armours %}
                                    <a class="stretched-link"  href="{% url 'gm:armour_unknown' %}">{% trans "[CONFIDENTIEL]" %}</a>
                                {% else %}
                   	             {% get_themed '$THEME$' user request.session only_name=True as knightools_style %}
                                    {% with img_src='gm/img/armour_logo/'|add:knightools_style|add:'/'|add:armour.slug|add:'.png' %}
                                        <div class="armour-logo mb-2">
                                            <img src="{% static img_src %}">
                                        </div>
                                        <a class="stretched-link"  href="{% url 'gm:armour_detail' armour.slug %}">{{ armour.name }}</a>
                                    {% endwith %}
                                {% endif %}
                            </td>
                            <td class="align-middle" style="width: 15rem;">
                                {% if armour not in allowed_armours %}
                                    <div class="d-none d-sm-block m-2 p-2">
                                        {% trans "Vous n'avez pas les accréditations<br>nécessaires pour visualiser cette armure.<br>Débloquez-la en demandant son code à votre MJ." %}
                                    </div>
                                    <div class="d-block d-sm-none">
                                        {% trans "Armure bloquée. Demandez le mot de passe à votre MJ." %}
                                    </div>
                                {% else %}
                                    <div class="d-none d-sm-block">
                                        <ul class="my-0">
                                            {% for ability in armour.abilities.all %}
                                                <li>{{ ability.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="d-block d-sm-none">
                                        {% for ability in armour.abilities.all %}
                                            {{ ability.name }}{% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </td>
                            <td class="d-none d-md-table-cell align-middle text-center">
                                {% if armour not in allowed_armours %}
                                    ?
                                {% else %}
                                    {{ armour.armour_points }}
                                {% endif %}
                            </td>
                            <td class="d-none d-md-table-cell align-middle text-center">
                                {% if armour not in allowed_armours %}
                                    ?
                                {% else %}
                                    {{ armour.energy_points }}
                                {% endif %}
                            </td>
                            <td class="d-none d-md-table-cell align-middle text-center">
                                {% if armour not in allowed_armours %}
                                    ?
                                {% else %}
                                    {{ armour.force_field }}
                                {% endif %}
                            </td>
                            <td data-order="{{ armour.count_slots }}" class="d-none d-lg-table-cell align-middle text-center">
                                {% if armour not in allowed_armours %}
                                    ?
                                {% else %}
                                    <div class="my-1">
                                        <div class="slot">
                                            <div class="slot-head">{{ armour.slot_head }}</div>
                                            <div class="slot-left-arm">{{ armour.slot_left_arm }}</div>
                                            <div class="slot-right-arm">{{ armour.slot_right_arm }}</div>
                                            <div class="slot-torso">{{ armour.slot_torso }}</div>
                                            <div class="slot-left-leg">{{ armour.slot_left_leg }}</div>
                                            <div class="slot-right-leg">{{ armour.slot_right_leg }}</div>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                            <td class="align-middle {% if armour not in allowed_armours %}text-center{% endif %}">
                                {% if armour not in allowed_armours %}
                                    ?
                                {% else %}
                                    <div class="d-none d-sm-block">
                                        <ul class="my-0">
                                            {% for overdrive in armour.overdrives.all %}
                                                <li>{{ overdrive.characteristic.name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="d-block d-sm-none">
                                        {% for overdrive in armour.overdrives.all %}
                                            {{ overdrive.characteristic.name }}{% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </td>
                            <td class="d-none d-md-table-cell align-middle">{{ armour.source.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}

