{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des améliorations" %} - {% endblock %}

{% block display_printer %}d-sm-block{% endblock display_printer %}
{% block printer %}{% url 'gm:print_enhancement' %}{% endblock printer %}

{% block content %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "Liste des améliorations" %}</h1>
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Introduction" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Voici une liste d'améliorations pour les différentes armes, qu'elles prennent la forme d'un module (comme le canon de bras) ou soient tenues en main. Les armes à une main ne peuvent posséder qu'une seule amélioration, celles possédant l'effet <em>deux mains</em> peuvent en posséder deux et enfin, les armes à distance possédant l'effet <em>lourd</em> peuvent en posséder trois.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Chaque amélioration apporte à l'arme un ou plusieurs petits effets supplémentaires ou encore de meilleurs dégâts et violence. Toutes ont un coût en PG à payer à l'armurerie et sont considérées comme l'équivalent d'armes standards. En dehors des phases de conflit, un personnage peut toujours décider d'activer ou de désactiver ces améliorations. En phase de conflit, le personnage doit dépenser une action de déplacement pour les désactiver ou les réactiver. On considère toujours que chacune des améliorations, une fois achetée, est activée par défaut.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Enfin, certaines possèdent des restrictions.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Les armes de contact ne s'augmentent pas avec des ajouts standardisés, des gadgets ou des munitions qui s'y insèrent. Elles ne peuvent être améliorées que de manière structurelle ou par un travail artistique. Bien entendu, les boucliers peuvent aussi bénéficier de ce type d'améliorations.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Les améliorations structurelles, c'est-à-dire celles choisies dès l'achat de l'arme, coûtent un certain nombre de PG s'ajoutant au coût total de l'arme et ne peuvent pas être désactivées, ni modifiées, ni achetées en dehors du moment de l'acquisition de l'arme. Les armes <strong>à une main</strong> peuvent recevoir <strong>deux</strong> améliorations structurelles, les armes <strong>à deux mains</strong> ou possédant l'effet <strong>lourd</strong> peuvent recevoir jusqu'à <strong>trois</strong> améliorations structurelles. La même amélioration ne peut être ajoutée deux fois sur une même arme. Les armes possédant l'effet espérance ne peuvent pas recevoir d'améliorations structurelles.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Les améliorations d'ornement, c'est-à-dire les ajouts artistiques sur l'arme, permettent au chevalier de la personnaliser et d'illustrer sa propre légende. Elles ne peuvent s'acquérir qu'après que l'arme a servi au chevalier à s'illustrer dans un combat ou pour une action particulièrement héroïque. Avant le paiement en PG de chacun de ces changements, le PJ doit discuter avec le MJ de la raison qui lui permet de l'acquérir et, bien entendu, remplir les conditions indiquées. Si, selon le MJ, le personnage remplit toutes les conditions nécessaires à une amélioration d'ornement, alors il peut l'acquérir au coût indiqué en PG. Peu importe le type d'arme de contact, <strong>seules deux</strong> améliorations d'ornement peuvent être acquises. La même ne peut pas être ajoutée deux fois sur une même arme.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Ces deux types d'amélioration sont à dissocier et, par exemple, une arme de contact à une main peut parfaitement recevoir deux améliorations structurelles et deux améliorations d'ornement. Elles peuvent être posées sur des armes de contact de prestige, toujours selon les règles du codex, si un PJ y voit un intérêt.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        {% include 'gm/misc/filter_datatable.html' with sources=sources user=user only %}
        <table data-order='[[ 1, "asc" ], [ 2, "asc" ], [ 0, "asc" ]]' class="table table-sm table-hover dt-enable">
            <thead class="thead-light">
                <tr>
                    <th scope="col">{% trans "Nom" %}</th>
                    <th scope="col">{% trans "Catégorie" %}</th>
                    <th scope="col">{% trans "Type" %}</th>
                    <th class="d-none d-sm-table-cell" scope="col">{% trans "Effet(s)" %}</th>
                    <th class="d-none d-sm-table-cell" scope="col" title="{% blocktrans %} Effets conditionnés ?{% endblocktrans %}">{% trans "Cond." %}</th>
                    <th scope="col">{% trans "Prix" %}</th>
                    <th scope="col" data-visible="false" class="source">{% trans "Source" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for enhancement in enhancement_list %}
                    <tr>
                        <td data-order="{{ enhancement.name|slugify }}" class="position-relative">
                            <a class="stretched-link" href="{% url 'gm:enhancement_detail' enhancement.slug %}">{{ enhancement.name }}</a>
                        </td>
                        <td class="align-middle">{{ enhancement.category.name }}</td>
                        <td class="align-middle">
                            {% if enhancement.group %}
                                <div class="d-none d-sm-block">
                                    {{ enhancement.get_group_display }}
                                </div>
                                <div class="d-block d-sm-none">
                                    {{ enhancement.get_group_display|slice:":3" }}.
                                </div>
                            {% endif %}
                        </td>
                        <td class="d-none d-sm-table-cell">
                            {% for effect in enhancement.effects.all %}
                                {% if effect.effect %}
                                    {% include 'gm/misc/effect_link.html' with effect=effect only %}
                                {% else %}
                                    {{ effect.get_name }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td data-order="{% if enhancement.with_conditions > 0 %}Oui{% else %}Non{% endif %}" data-search="{% if enhancement.with_conditions > 0 %}Oui{% else %}Non{% endif %}" class="d-none d-sm-table-cell align-middle text-center">{% if enhancement.with_conditions > 0 %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                        <td class="text-center align-middle" data-order="{{ enhancement.cost }}">{{ enhancement.cost }} {% trans "PG" %}</td>
                        <td class="text-center align-middle">{{ enhancement.source.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}