{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des hauts-faits" %} - {% endblock %}

{% block content %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "Liste des hauts-faits" %}</h1>
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Introduction" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Pour avoir été choisi au sein du Knight, le personnage doit avoir accompli un exploit, réalisé quelque chose de grand, qui résonne pour plusieurs personnes. Un chevalier n'est pas n'importe qui et doit être un modèle pour l'Humanité. De fait, un ou plusieurs de ses actes passés doivent constituer le début de sa légende et signifier au monde qu'il est capable d'exploits, que c'est un vrai héros.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Le haut fait peut avoir été accompli par le héros il y a des années ou seulement quelques jours, mais doit être assez retentissant pour constituer un vrai fait héroïque. Certains hauts faits nécessitent des conditions ou des restrictions, comme posséder des scores minimums dans une caractéristique. Chaque haut fait apporte des bonus qui sont précisés dans sa description. Enfin, c'est en accomplissant son haut fait que le personnage reçoit son surnom, qui lui restera tout le long de sa carrière. Pour chaque haut fait, une liste de surnoms est proposée au joueur. Il peut choisir un des surnoms proposés ou en inventer un.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            À cette étape, le joueur doit donc choisir un haut fait parmi ceux de la liste ci-dessous ou en inventer un avec les bonus adéquats (avec l'accord du MJ)
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        {% include 'gm/misc/filter_datatable.html' only %}
        <table class="table table-sm table-striped table-bordered dt-enable">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="text-center">{% trans "Nom" %}</th>
                    <th scope="col" class="text-center">{% trans "Bonus" %}</th>
                    <th scope="col" class="text-center">{% trans "Pré-requis" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for great_deed in great_deed_list %}
                    <tr>
                        <td data-order="{{ great_deed.name|slugify }}" class="align-middle text-center position-relative">
                            <a class="stretched-link" href="{% url 'gm:great_deed_detail' great_deed.slug %}">{{ great_deed.name }}</a>
                        </td>
                        <td class="px-2 align-middle text-center">
                            {% if great_deed.aspect_1 and great_deed.aspect_2 %}
                                {% blocktrans trimmed with aspect_name1=great_deed.aspect_1.name aspect_name2=great_deed.aspect_2.name %}
                                    <em>{{ aspect_name1 }}</em><br>OU<br><em>{{ aspect_name2 }}</em>
                                {% endblocktrans %}
                            {% else %}
                                {% if great_deed.aspect_1 %}
                                    <em>{{ great_deed.aspect_1.name }}</em>
                                {% else %}
                                    {% trans "Libre" %}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="align-middle text-center markdown-format">{{ great_deed.restriction|safe_markdown }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}