{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des traumas" %} - {% endblock %}

{% block display_printer %}d-sm-block{% endblock display_printer %}
{% block printer %}{% url 'gm:print_trauma' %}{% endblock printer %}

{% block content %}
    {% regroup trauma_list by category as traumas_by_category %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "Liste des traumas" %}</h1>
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Introduction" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Durant la campagne, il est plus que probable que les PJ subissent d'énormes pertes de points d'espoir, pouvant parfois les amener au seuil du désespoir, voire pire.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Pour remédier à ce problème et éviter que les héros ne succombent aux ténèbres trop vite, le MJ doit intégrer à La Geste de la fin des temps le système de traumas.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Les traumas sont des blessures graves touchant l'esprit du chevalier et épuisant ses caractéristiques, ses aspects ou provoquant des effets néfastes. Cependant, accepter un trauma permet au PJ de récupérer instantanément un certain nombre de points d'espoir perdus (jamais au-delà de la limite maximale actuelle de points d'espoir du personnage).
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Il existe 5 types de traumas, permettant tous de récupérer une certaine somme de points d'espoir.
                        {% endblocktrans %}
                    </p>
                    <h6>Limite de traumas et guérison</h6>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Quoi qu'il arrive, un personnage ne peut jamais posséder plus de 6 traumas. Au-delà de cette limite, le personnage ne peut plus recouvrer de points d'espoir en subissant une de ces blessures mentales. Cela constitue le maximum de traumas qu'un esprit peut supporter.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Cependant, il est possible de retirer les traumas insignifiants, légers, graves et lourds en suivant un séjour dans l'aile psychiatrique du Knight ou en suivant une thérapie auprès d'un des psychologues de l'organisation. Ce soin est à traiter comme un objectif personnel.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        La jauge d'accomplissement d'une telle entreprise est égale aux points d'espoir récupérés grâce au trauma multipliés par deux. Ainsi, la jauge d'accomplissement pour se faire soigner d'un trauma léger est de 40 (20 points d'espoir recouvrés multipliés par deux). La base d'un jet pour se faire soigner d'un trauma est toujours <em>Sang-Froid</em> ou <em>Hargne</em>.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Lorsque la jauge est complète, le trauma du personnage est retiré et les éventuels points de caractéristiques perdus sont récupérés.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        <strong>Attention</strong> : Le trauma « esclave » ne peut jamais être retiré, ni soigné.
                        {% endblocktrans %}
                    </p>
                    <h6>Subir un trauma</h6>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Lorsque le PJ subit une perte de points d'espoir, il peut décider de prendre un type de trauma de son choix pour récupérer instantanément le nombre de points d'espoir indiqué dans la description de ce trauma.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        Ensuite, il lance 1D6 pour déterminer quel trauma il récupère parmi les 6 présents dans le type de trauma choisi. Lorsqu'un trauma comme « esclave » fait baisser un aspect, il fait aussi baisser l'ensemble des caractéristiques de l'aspect pour qu'elles ne le dépassent pas. Bien évidemment, à chaque baisse de caractéristiques, il faut éventuellement recalculer les valeurs dérivées idoines.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                        <strong>Attention</strong> : Chaque trauma est différent et possède ses propres effets, il faut donc bien veiller à lire chaque description.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
        
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            {% for category, traumas in traumas_by_category %}
                {% with slug_category=category.name|slugify %}
                <li class="nav-item">
                    <a class="nav-link px-1" id="{{ slug_category }}-tab" data-toggle="tab" href="#{{ slug_category }}" role="tab" aria-controls="{{ slug_category }}" aria-selected="false">{{ category.name }}</a>
                </li>
                {% endwith %}
            {% endfor %}
        </ul>
    </div>
    <div class="mt-3">
        <div class="tab-content" id="myTabContent">
            {% for category, traumas in traumas_by_category %}
                {% with slug_category=category.name|slugify %}
                    <div class="tab-pane fade show" id="{{ slug_category }}" role="tabpanel" aria-labelledby="{{ slug_category }}-tab">
                        
                        <h6 class="text-center">+{{ category.hop_recovered }} {% trans "PES" %}</h6>
                        
                        <div class="text-justify">{{ category.description }}</div>
                        
                        <table class="table table-sm table-striped table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center align-middle">{% trans "D6" %}</th>
                                    <th class="text-center align-middle">{% trans "Nom" %}</th>
                                    <th class="text-center align-middle">{% trans "Description" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for trauma in traumas %}
                                    {% if trauma in allowed_traumas %}
                                        <tr>
                                            <td class="text-center align-middle">{% if trauma.die_value %}{{ trauma.die_value }}{% endif %}</td>
                                            <td class="text-center align-middle position-relative">
                                                <a class="stretched-link" href="{% url 'gm:trauma_detail' trauma.slug %}">{{ trauma.name }}</a>
                                            </td>
                                            <td class="text-justify align-middle markdown-format p-2">{{ trauma.description|safe_markdown }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock %}