{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des véhicules" %} - {% endblock %}

{% block content %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "Liste des véhicules" %}</h1>
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Introduction" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Dans cette page sont décrits les véhicules habituels et principaux de l'univers de Knight. Toutes les machines, toutes les voitures ne sont pas présentées et c'est au MJ d'improviser en fonction du moment, sur la base donnée ici.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Il est à noter que lorsque des PJ ou PNJ sont dans un véhicule, c'est toujours le véhicule qui est touché en premier par les dégâts. Cependant, les armes possédant l'effet ignore armure peuvent transpercer les parois blindées et infliger des dégâts aux passagers. On considère alors qu'un ou plusieurs passagers subissent les dégâts de l'arme diminués de 2D6 et sans l'effet ignore armure.
                        {% endblocktrans %}
                    </p>
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            <strong>Attention</strong> : La vitesse des véhicules indique leur vitesse maximale, en ligne droite sur terrain, piste ou ciel dégagé. Toute zone non dégagée ou avec des obstacles réduit la vitesse des véhicules de 1 à 2 points (à la discrétion du MJ) tant qu'ils sont sur ce type de terrain ou dans ce type d'environnement.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        {% include 'gm/misc/filter_datatable.html' only %}
        <div class="d-none d-sm-block">
            <table class="table table-sm table-striped table-bordered dt-enable">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="text-center">{% trans "Nom" %}</th>
                        <th scope="col" class="text-center">{% trans "PA" %}</th>
                        <th scope="col" class="text-center">{% trans "PE" %}</th>
                        <th scope="col" class="text-center">{% trans "CdF" %}</th>
                        <th scope="col" class="text-center">{% trans "Manœuvrabilité" %}</th>
                        <th scope="col" class="text-center">{% trans "Vitesse" %}</th>
                        <th scope="col" class="text-center">{% trans "Équipage" %}</th>
                        <th scope="col" class="text-center">{% trans "Armé" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehicle in vehicle_list %}
                        <tr>
                            <td data-order="{{ vehicle.name|slugify }}" class="align-middle text-center position-relative">
                                <a class="stretched-link" href="{% url 'gm:vehicle_detail' vehicle.slug %}">{{ vehicle.name }}</a>
                            </td>
                            <td class="text-center align-middle">{{ vehicle.armour_points }}</td>
                            <td class="text-center align-middle">{{ vehicle.energy_points }}</td>
                            <td class="text-center align-middle">{{ vehicle.force_field }}</td>
                            <td class="text-center align-middle">{{ vehicle.maneuverability }}</td>
                            <td class="text-center align-middle">{{ vehicle.speed|linebreaksbr }}</td>
                            <td data-order="{{ vehicle.crew_order}}" class="text-center align-middle">{{ vehicle.crew|linebreaksbr }}</td>
                            <td data-order="{% if vehicle.weaponry != '' %}Oui{% else %}Non{% endif %}" data-search="{% if vehicle.weaponry != '' %}Oui{% else %}Non{% endif %}" class="d-none d-sm-table-cell align-middle text-center">{% if vehicle.weaponry != '' %}<i class="fas fa-check-circle text-success"></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-block d-sm-none">
            <table class="table table-sm table-striped table-bordered dt-enable">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="text-center">{% trans "Nom" %}</th>
                        <th scope="col" class="text-center">{% trans "Manœuvrabilité" %}</th>
                        <th scope="col" class="text-center">{% trans "Vitesse" %}</th>
                        <th scope="col" class="text-center">{% trans "Armé" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehicle in vehicle_list %}
                        <tr>
                            <td data-order="{{ vehicle.name|slugify }}" class="align-middle text-center position-relative">
                                <a class="stretched-link" href="{% url 'gm:vehicle_detail' vehicle.slug %}">{{ vehicle.name }}</a>
                            </td>
                            <td class="text-center align-middle">{{ vehicle.maneuverability }}</td>
                            <td class="text-center align-middle">{{ vehicle.speed|linebreaksbr }}</td>
                            <td class="text-center align-middle {% if vehicle.weaponry != '' %}bg-feature-active{% else %}bg-feature-inactive{% endif %}">{% if vehicle.weaponry != '' %}{% trans 'Oui' %}{% else %}{% trans 'Non' %}{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    
    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}