{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}
{% load gm_extras %}

{% block title %}{% trans "Liste des armes" %} - {% endblock %}

{% block display_printer %}d-sm-block{% endblock display_printer %}
{% block printer %}{% url 'gm:print_weapon' %}{% endblock printer %}

{% block content %}
    <div class="mt-3">
        <h1 class="text-center font-weight-bold">{% trans "Liste des armes" %}</h1>
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                    <h6 class="font-weight-bold font-italic mb-0">
                        {% trans "Introduction" %}
                        <i class="fa fa-plus-square"></i>
                    </h6>
                </a>
            </div>
            <div id="collapsePresentation" class="collapse" aria-labelledby="presentation">
                <div class="card-body">
                    <p class="text-justify">
                        {% blocktrans trimmed %}
                            Voici une liste de toutes les armes qui peuvent être obtenues ou achetées par des chevaliers durant leurs aventures. Cliquez sur une arme pour voir toutes ses données. Les armes sont divisées en deux catégories : au contact et à distance. Chaque arme possède un coût en points de gloire (PG), une rareté ainsi qu'une source représentant l'ouvrage dans lequel elle se trouve.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-3">
        {% regroup weapon_list by category as weapon_category_list %}
        <div class="col-12">
            {% include 'gm/misc/filter_datatable.html' with sources=sources rarities=rarities user=user only %}
        </div>
        
        {% for category, weapons in weapon_category_list %}
            <div class="col mt-3">
                <h3 class="text-center">
                    {% with 'gm/img/icons8-'|add:category.get_src|add:'-filled-50.png' as image_src %}
                        <img src="{% static image_src %}" title="{{ category.name }}" class="inverted-on-dark">
                    {% endwith %}
                </h3>
                <table data-order='[[ 1, "asc" ], [ 0, "asc" ], [ 3, "asc" ]]' class="table table-hover table-sm dt-enable table-weapons">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">{% trans "Nom" %}</th>
                            <th scope="col" class="rarity">{% trans "Rareté" %}</th>
                            <th scope="col">{% trans "Prix" %}</th>
                            <th scope="col" class="source">{% trans "Source" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for weapon in weapons %}
                            <tr>
                                <td class="position-relative" data-order="{{ weapon.name|slugify }}">
                                    <a class="stretched-link" href="{% url 'gm:weapon_detail' weapon.slug %}">{{ weapon.name }}</a>
                                </td>
                                <td data-order="{{ weapon.rarity.id }}">
                                    <span class="thumbnail-bg bg-custom-rarity-{{ weapon.rarity.id }}"></span> {{ weapon.rarity.name }}
                                </td>
                                <td data-order="{{ weapon.cost }}">{{ weapon.cost }} {% trans "PG" %}</td>
                                <td>{{ weapon.source.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
    
    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}
