{% extends 'gm/base.html' %}
{% load i18n %}

{% block title %}{% trans "Résultats de recherche" %} "{{ searchterm }}" - {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-2">
            <div class="nav nav-pills flex-column sticky-top" id="myTab" role="tablist" aria-orientation="vertical">
                <a class="nav-link px-1 {% if not weapons_length %}disabled d-none{% endif %}" id="weapon-tab" data-toggle="tab" href="#weapon" role="tab" aria-controls="weapon" aria-selected="false"><small>{% trans "Armes" %} {% if weapons_length %}({% if weapons_titles.es_fuzzy %}~{% endif %}{{ weapons_length }}){% endif %}</small></a>
                <a class="nav-link px-1 {% if not modules_length %}disabled d-none{% endif %}" id="module-tab" data-toggle="tab" href="#module" role="tab" aria-controls="module" aria-selected="false"><small>{% trans "Modules" %} {% if modules_length %}({% if modules_titles.es_fuzzy %}~{% endif %}{{ modules_length }}){% endif %}</small></a>
                <a class="nav-link px-1 {% if not effects_length %}disabled d-none{% endif %}" id="effect-tab" data-toggle="tab" href="#effect" role="tab" aria-controls="effect" aria-selected="false"><small>{% trans "Effets" %} {% if effects_length %}({% if effects_titles.es_fuzzy %}~{% endif %}{{ effects_length }}){% endif %}</small></a>
                <a class="nav-link px-1 {% if not enhancements_length %}disabled d-none{% endif %}" id="enhancement-tab" data-toggle="tab" href="#enhancement" role="tab" aria-controls="enhancement" aria-selected="false"><small>{% trans "Améliorations" %} {% if enhancements_length %}({% if enhancements_titles.es_fuzzy %}~{% endif %}{{ enhancements_length }}){% endif %}</small></a>
                <a class="nav-link px-1 {% if not overdrives_length %}disabled d-none{% endif %}" id="overdrive-tab" data-toggle="tab" href="#overdrive" role="tab" aria-controls="overdrive" aria-selected="false"><small>{% trans "Overdrives" %} {% if overdrives_length %}({% if overdrives_titles.es_fuzzy %}~{% endif %}{{ overdrives_length }}){% endif %}</small></a>
                <a class="nav-link px-1 {% if not archetypes_length %}disabled d-none{% endif %}" id="archetype-tab" data-toggle="tab" href="#archetype" role="tab" aria-controls="archetype" aria-selected="false"><small>{% trans "Archétypes" %} {% if archetypes_length %}({% if archetypes_titles.es_fuzzy %}~{% endif %}{{ archetypes_length }}){% endif %}</small></a>
                <a class="nav-link px-1 {% if not arcanas_length %}disabled d-none{% endif %}" id="arcana-tab" data-toggle="tab" href="#arcana" role="tab" aria-controls="arcana" aria-selected="false"><small>{% trans "Arcanes majeures" %} {% if arcanas_length %}({% if arcanas_titles.es_fuzzy %}~{% endif %}{{ arcanas_length }}){% endif %}</small></a>
                <a class="nav-link px-1 {% if not great_deeds_length %}disabled d-none{% endif %}" id="great_deed-tab" data-toggle="tab" href="#great_deed" role="tab" aria-controls="great_deed" aria-selected="false"><small>{% trans "Hauts-faits" %} {% if great_deeds_length %}({% if great_deeds_titles.es_fuzzy %}~{% endif %}{{ great_deeds_length }}){% endif %}</small></a>
                <a class="nav-link px-1 {% if not crests_length %}disabled d-none{% endif %}" id="crest-tab" data-toggle="tab" href="#crest" role="tab" aria-controls="crest" aria-selected="false"><small>{% trans "Blasons" %} {% if crests_length %}({% if crests_titles.es_fuzzy %}~{% endif %}{{ crests_length }}){% endif %}</small></a>
                <a class="nav-link px-1 {% if not armours_length %}disabled d-none{% endif %}" id="armour-tab" data-toggle="tab" href="#armour" role="tab" aria-controls="armour" aria-selected="false"><small>{% trans "Armures" %} {% if armours_length %}({% if armours_titles.es_fuzzy %}~{% endif %}{{ armours_length }}){% endif %}</small></a>
                <a class="nav-link px-1 {% if not divisions_length %}disabled d-none{% endif %}" id="division-tab" data-toggle="tab" href="#division" role="tab" aria-controls="division" aria-selected="false"><small>{% trans "Sections" %} {% if divisions_length %}({% if divisions_titles.es_fuzzy %}~{% endif %}{{ divisions_length }}){% endif %}</small></a>
                <a class="nav-link px-1 {% if not skills_length %}disabled d-none{% endif %}" id="skill-tab" data-toggle="tab" href="#skill" role="tab" aria-controls="skill" aria-selected="false"><small>{% trans "Capacités Héroïques" %} {% if skills_length %}({% if skills_titles.es_fuzzy %}~{% endif %}{{ skills_length }}){% endif %}</small></a>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_trauma_visible %}
                        <a class="nav-link px-1 {% if not traumas_length %}disabled d-none{% endif %}" id="trauma-tab" data-toggle="tab" href="#trauma" role="tab" aria-controls="trauma" aria-selected="false"><small>{% trans "Traumas" %} {% if traumas_length %}({% if traumas_titles.es_fuzzy %}~{% endif %}{{ traumas_length }}){% endif %}</small></a>
                    {% endif %}
                    {% if request.user.is_mecha_visible %}
                        <a class="nav-link px-1 {% if not mechas_length %}disabled d-none{% endif %}" id="mecha-tab" data-toggle="tab" href="#mecha" role="tab" aria-controls="mecha" aria-selected="false"><small>{% trans "Mecha-armures" %} {% if mechas_length %}({% if mechas_titles.es_fuzzy %}~{% endif %}{{ mechas_length }}){% endif %}</small></a>
                    {% endif %}
                    {% if request.user.is_npc_capacity_visible %}
                        <a class="nav-link px-1 {% if not npc_capacities_length %}disabled d-none{% endif %}" id="npc_capacity-tab" data-toggle="tab" href="#npc_capacity" role="tab" aria-controls="npc_capacity" aria-selected="false"><small>{% trans "Capacités PNJ" %} {% if npc_capacities_length %}({% if npc_capacities_titles.es_fuzzy %}~{% endif %}{{ npc_capacities_length }}){% endif %}</small></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show" id="weapon" role="tabpanel" aria-labelledby="weapon-tab">
                    {% include result_template with results=weapons_result titles=weapons_titles detail_uri="gm:weapon_detail" searchterm=searchterm only %}
                </div>
                <div class="tab-pane fade show" id="module" role="tabpanel" aria-labelledby="module-tab">
                    {% include result_template with results=modules_result titles=modules_titles detail_uri="gm:module_detail" searchterm=searchterm only %}
                </div>
                <div class="tab-pane fade show" id="effect" role="tabpanel" aria-labelledby="effect-tab">
                    {% include result_template with results=effects_result titles=effects_titles detail_uri="gm:effect_detail" searchterm=searchterm only %}
                </div>
                <div class="tab-pane fade show" id="enhancement" role="tabpanel" aria-labelledby="enhancement-tab">
                    {% include result_template with results=enhancements_result titles=enhancements_titles detail_uri="gm:enhancement_detail" searchterm=searchterm only %}
                </div>
                <div class="tab-pane fade show" id="overdrive" role="tabpanel" aria-labelledby="overdrive-tab">
                    {% include result_template with results=overdrives_result titles=overdrives_titles detail_uri="gm:overdrive_detail" searchterm=searchterm only %}
                </div>
                <div class="tab-pane fade show" id="archetype" role="tabpanel" aria-labelledby="archetype-tab">
                    {% include result_template with results=archetypes_result titles=archetypes_titles detail_uri="gm:archetype_detail" searchterm=searchterm only %}
                </div>
                <div class="tab-pane fade show" id="arcana" role="tabpanel" aria-labelledby="arcana-tab">
                    {% include result_template with results=arcanas_result titles=arcanas_titles detail_uri="gm:arcana_detail" searchterm=searchterm only %}
                </div>
                <div class="tab-pane fade show" id="great_deed" role="tabpanel" aria-labelledby="great_deed-tab">
                    {% include result_template with results=great_deeds_result titles=great_deeds_titles detail_uri="gm:great_deed_detail" searchterm=searchterm only %}
                </div>
                <div class="tab-pane fade show" id="crest" role="tabpanel" aria-labelledby="crest-tab">
                    {% include result_template with results=crests_result titles=crests_titles detail_uri="gm:crest_detail" searchterm=searchterm only %}
                </div>
                <div class="tab-pane fade show" id="armour" role="tabpanel" aria-labelledby="armour-tab">
                    {% include result_template with results=armours_result titles=armours_titles detail_uri="gm:armour_detail" searchterm=searchterm only %}
                </div>
                <div class="tab-pane fade show" id="division" role="tabpanel" aria-labelledby="division-tab">
                    {% include result_template with results=divisions_result titles=divisions_titles detail_uri="gm:division_detail" searchterm=searchterm only %}
                </div>
                <div class="tab-pane fade show" id="skill" role="tabpanel" aria-labelledby="skill-tab">
                    {% include result_template with results=skills_result titles=skills_titles detail_uri="gm:skill_detail" searchterm=searchterm only %}
                </div>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_trauma_visible %}
                        <div class="tab-pane fade show" id="trauma" role="tabpanel" aria-labelledby="trauma-tab">
                            {% include result_template with results=traumas_result titles=traumas_titles detail_uri="gm:trauma_detail" searchterm=searchterm only %}
                        </div>
                    {% endif %}
                    {% if request.user.is_mecha_visible %}
                        <div class="tab-pane fade show" id="mecha" role="tabpanel" aria-labelledby="mecha-tab">
                            {% include result_template with results=mechas_result titles=mechas_titles detail_uri="gm:mecha_detail" searchterm=searchterm only %}
                        </div>
                    {% endif %}
                    {% if request.user.is_npc_capacity_visible %}
                        <div class="tab-pane fade show" id="npc_capacity" role="tabpanel" aria-labelledby="npc_capacity-tab">
                            {% include result_template with results=npc_capacities_result titles=npc_capacities_titles detail_uri="gm:npc_capacity_detail" searchterm=searchterm only %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}