{% extends 'users/base.html' %}

{% load static %}
{% load martortags %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load gm_extras %}

{% block title %}{% trans "Profil" %} - {% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'users/js/profile.js' %}"></script>
{% endblock js %}

{% block content %}
    <h1 class="text-center text-danger">{% trans "Suppression de compte" %}</h1>
    <form method="post">{% csrf_token %}
        <div class="">
            <p>{% blocktrans trimmed %}Vous vous apprêtez à supprimer votre compte de {{ KNIGHTOOLS_SITE_NAME }}. Cette suppression est définitive ! Vos favoris, vos tables virtuelles, vos personnages sur les tables virtuelles que vous avez rejoint, toutes ces données seront supprimées sans possibilité de les récupérer.{% endblocktrans %}</p>
            <p>{% blocktrans trimmed %}Vous pourrez toujours recréer un compte plus tard, ou même continuer à naviguer sur le site de façon anonyme.{% endblocktrans %}</p>
            <p>{% blocktrans trimmed %}Confirmez-vous la suppression ?{% endblocktrans %}</p>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-account-confirm">{% trans "Supprimer votre compte" %}</button>
        </div>
        
        
        <div class="modal fade" id="delete-account-confirm" tabindex="-1" role="dialog" aria-labelledby="delete-account-confirm-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title" id="delete-account-confirm-title">{% trans "Sûr hein ? Pas de regrets ?" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    <p>
                        {% blocktrans %}Vous confirmez vraiment que vous souhaitez laisser la planète à la merci de l'Anathème ? Vous ne souhaitez plus secourir d'innocents ? Combattre des monstres ? Être héroïque ?{% endblocktrans %}
                    </p>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-danger" value="{% trans 'Oui, je veux oublier.' %}">
                        <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans 'Non, je suis le danger.' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
{% endblock %}
