{% load static %}
{% load i18n %}

{% if user.is_authenticated %}
    {% spaceless %}
        <a title="{% if is_favorite %}{% trans 'Retirer des favoris' %}{% else %}{% trans 'Ajouter aux favoris' %}{% endif %}" href="#" class="badge fav-link">
            <i class="{% if is_favorite %}fas{% else %}far{% endif %} fa-star"></i>
        </a>
        <div class="modal fade" id="add-item-to-fav" tabindex="-1" role="dialog" aria-labelledby="add-item-to-fav-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="add-item-to-fav-label">{% trans "Ajouter un élément aux favoris" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="add-item-to-fav-form" onsubmit="favorites.add(); return false;">
                            <input type="hidden" id="fav-item-type" value="{{ type }}" />
                            <input type="hidden" id="fav-item-id" value="{{ id }}" />
                            <div class="form-group">
                                <label for="fav-item-note" class="col-form-label">{% trans "Descriptif (optionnel) :" %}</label>
                                <input type="text" maxlength="1024" class="form-control" id="fav-item-note">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">{% trans "Listes" %}</label>
                            </div>
                            <div class="row" id="fav-list">
                                {% for fav_list in user.fav_lists.all %}
                                    <div class="col-12 col-md-6">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="checkbox" value="{{ fav_list.id }}">
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" data-toggle-checkbox aria-label="{{ fav_list.name }}" value="{{ fav_list.name }}" readonly>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <button role="button" type="button" id="new-list" class="btn btn-success w-100"><i class="fas fa-plus-circle"></i></button>
                            <div class="d-none">
                                <input type="submit" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-knightools-valid" onclick="favorites.add();">{% trans "Enregistrer" %}</button>
                        <button type="button" class="btn btn-secondary btn-knightools-cancel" data-dismiss="modal">{% trans "Fermer" %}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none" id="fav-url-manager" data-add-url="{% url 'users:fav_add' %}" data-del-url="{% url 'users:fav_del' %}"></div>
        <script type="text/javascript" src="{% static 'users/js/favorites.js' %}"></script>
    {% endspaceless %}
{% endif %}
