{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Arcane" %} {{ arcana.name }} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:arcana_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des arcanes" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{% if arcana.roman_number %}{{ arcana.roman_number }} - {% endif %}{{ arcana.name }}{% if arcana.number %} ({{ arcana.number }}){% endif %}</h1>
    </div>
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="player-tab" data-toggle="tab" href="#player" role="tab" aria-controls="player" aria-selected="true">{% trans "Chevalier" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="ai-tab" data-toggle="tab" href="#ai" role="tab" aria-controls="ai" aria-selected="false">{% trans "Intelligence Artificielle (IA)" %}</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="player" role="tabpanel" aria-labelledby="player-tab">
            <div class="card-deck mb-sm-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans 'Description' %}
                        </h5>
                    </div>
                    <div class="card-body text-justify">
                        {{ arcana.description|linebreaks }}
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans 'Création' %}
                        </h5>
                    </div>
                    <div class="card-body text-justify">
                        {{ arcana.creation_bonus|safe_markdown }}
                    </div>
                </div>
            </div>
            
            <div class="card-deck mb-sm-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans 'Destin' %}
                        </h5>
                    </div>
                    <div class="card-body text-justify markdown-format">
                        <p>{{ arcana.destiny_effect|safe_markdown }}</p>
                        <em class="text-muted float-right">{{ arcana.destiny_quote }}</em>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans 'Passés' %}
                        </h5>
                    </div>
                    <div class="card-body text-justify">
                        <p>{{ arcana.past }}</p>
                    </div>
                </div>
            </div>
            
            <div class="card-deck mb-sm-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans "Avantage" %} - {{ arcana.advantage_name }}
                        </h5>
                    </div>
                    <div class="card-body text-justify markdown-format" >
                        {{ arcana.advantage|safe_markdown }}
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans "Inconvénient" %} - {{ arcana.disadvantage_name }}
                        </h5>
                    </div>
                    <div class="card-body text-justify markdown-format" >
                        {{ arcana.disadvantage|safe_markdown }}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="tab-pane fade" id="ai" role="tabpanel" aria-labelledby="ai-tab">
            <div class="card-deck mb-sm-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans 'Description' %}
                        </h5>
                    </div>
                    <div class="card-body text-justify">
                        {{ arcana.ai_description|linebreaks }}
                    </div>
                </div>
            </div>
            
            <div class="card-deck mb-sm-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans 'Comportement' %}
                        </h5>
                    </div>
                    <div class="card-body text-justify">
                        {{ arcana.ai_behavior }}
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans 'Lettre & mots-clés' %}
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="text-center"><strong>{{ arcana.ai_letter }}</strong></p>
                        <p class="text-center"><em class="text-muted">{{ arcana.ai_keywords }}</em></p>
                    </div>
                </div>
            </div>
            
            <div class="card-deck mb-sm-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans "Avantage" %} - {{ arcana.ai_advantage_name }}
                        </h5>
                    </div>
                    <div class="card-body text-justify markdown-format" >
                        {{ arcana.ai_advantage|safe_markdown }}
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="font-weight-bold font-italic mb-0">
                            {% trans "Inconvénient" %} - {{ arcana.ai_disadvantage_name }}
                        </h5>
                    </div>
                    <div class="card-body text-justify markdown-format" >
                        {{ arcana.ai_disadvantage|safe_markdown }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% if arcana.faq_text or arcana.questions.all %}
        {% include 'gm/misc/faq_text.html' with faq_text=arcana.faq_text questions=arcana.questions.all %}
    {% endif %}
    
{% endblock %}
