{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Archétype" %} {{ archetype.name }} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:archetype_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des archétypes" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ archetype.name }}</h1>
    </div>
    
    <div class="card-deck">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% trans 'Description' %}
                </h5>
            </div>
            <div class="card-body text-justify">
                {{ archetype.description|linebreaks }}
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% trans 'Bonus carac.' %}
                </h5>
            </div>
            <div class="card-body text-justify">
                {% if archetype.characteristic_bonus_1 or archetype.characteristic_bonus_2 or archetype.characteristic_bonus_3 %}
                    <ul class="m-0">
                        <li>{{ archetype.characteristic_bonus_1.name }}</li>
                        <li>
                            {{ archetype.characteristic_bonus_2.name }}
                            {% if archetype.characteristic_bonus_3 %}
                                {% blocktrans trimmed with charac_name=archetype.characteristic_bonus_3.name %}
                                    OU {{ charac_name }}
                                {% endblocktrans %}
                            {% endif %}
                        </li>
                    </ul>
                {% else %}
                    {% trans 'Deux différentes au choix, à définir' %}
                {% endif %}
            </div>
        </div>
    </div>
    
    {% if archetype.faq_text or archetype.questions.all %}
        {% include 'gm/misc/faq_text.html' with faq_text=archetype.faq_text questions=archetype.questions.all %}
    {% endif %}
{% endblock %}
