{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Blason" %} {{ crest.name }} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:crest_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des blasons" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ crest.name }}</h1>
        <blockquote class="blockquote font-italic text-center text-muted">
            <p>{{ crest.vow }}</p>
        </blockquote>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">
                {% trans 'Description' %}
            </h5>
        </div>
        <div class="card-body text-justify">
            <div class="markdown-format">
                {{ crest.description|safe_markdown }}
            </div>
        </div>
    </div>
    
    {% if crest.faq_text or crest.questions.all %}
        {% include 'gm/misc/faq_text.html' with faq_text=crest.faq_text questions=crest.questions.all %}
    {% endif %}
{% endblock %}
