{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Amél." %} {{ enhancement.name}} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:enhancement_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des améliorations" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ enhancement.name }}</h1>
        <h4 class="text-center">
            {% with 'gm/img/icons8-'|add:enhancement.category.get_src|add:'-filled-50.png' as image_src %}
                <span class="badge"><img src="{% static image_src %}" width="32" height="32" title="{{ enhancement.category.name }}" class="inverted-on-dark"></span>
            {% endwith %}
            {% if enhancement.group %}
                <span class="badge badge-pill badge-secondary">{{ enhancement.get_group_display }}</span>
            {% endif %}
            <span class="badge badge-pill badge-secondary">{{ enhancement.cost }} PG</span>
            {% include 'users/favorite_on_item.html' with type="enhancement" id=enhancement.id is_favorite=enhancement.is_favorite %}
        </h4>
        <p>{% trans "Décrit dans :" %} {{ enhancement.origin }}</p>
    </div>
    {% if enhancement.description %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">{% trans "Description" %}</h5>
            </div>
            <div class="card-body markdown-format text-justify">
                {{ enhancement.description|safe_markdown }}
            </div>
        </div>
    {% endif %}
    {% if enhancement.restriction %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">{% trans "Restriction" %}</h5>
            </div>
            <div class="card-body text-justify">
                {{ enhancement.restriction }}
            </div>
        </div>
    {% endif %}
    {% if enhancement.effects_list %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% blocktrans trimmed count counter=enhancement.count_effects %}
                        Effet
                    {% plural %}
                        Effets
                    {% endblocktrans %}
                </h5>
            </div>
            <div class="card-body text-justify">
                <table class="table table-sm table-striped">
                    <thead class="thead-light text-center">
                        <th scope="col" class="w-50">{% trans "Effet" %}</th>
                        <th scope="col" class="w-50">{% trans "Condition" %}</th>
                    </thead>
                    <tbody>
                        {% for effect in enhancement.effects.all %}
                            <tr>
                                <td>
                                    {% if effect.effect %}
                                        {% include 'gm/misc/effect_link.html' with effect=effect only %}
                                    {% else %}
                                        {{ effect.get_name }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if effect.effect_condition %}
                                        {{ effect.effect_condition }}
                                    {% else %}
                                        <div class="text-center">-</div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    
    {% if enhancement.faq_text or enhancement.questions.all %}
        {% include 'gm/misc/faq_text.html' with faq_text=enhancement.faq_text questions=enhancement.questions.all %}
    {% endif %}
{% endblock %}