{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Haut-fait" %} {{ great_deed.name }} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:great_deed_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des hauts-faits" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ great_deed.name }}</h1>
        {% if great_deed.nickname_suggestion %}
            <p>
                <span><em>{% trans "Surnoms suggérés :" %}</em></span> <span><em>{{ great_deed.nickname_suggestion }}</em></span>
            </p>
        {% endif %}
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <h5 class="font-weight-bold font-italic mb-0">
                {% trans 'Description' %}
            </h5>
        </div>
        <div class="card-body text-justify">
            {{ great_deed.description|linebreaks }}
        </div>
    </div>
    
    <div class="card-deck mb-sm-3">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% trans 'Restriction' %}
                </h5>
            </div>
            <div class="card-body text-justify">
                {% if great_deed.restriction %}
                    {{ great_deed.restriction|safe_markdown }}
                {% else %}
                    {% trans 'Aucune' %}
                {% endif %}
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% trans 'Bonus' %}
                </h5>
            </div>
            <div class="card-body text-justify">
                <p>
                    {% if great_deed.aspect_1 and great_deed.aspect_2 %}
                        {% blocktrans trimmed with aspect_name1=great_deed.aspect_1.name aspect_name2=great_deed.aspect_2.name %}
                            1 point bonus dans l'aspect <em>{{ aspect_name1 }}</em> ou <em>{{ aspect_name2 }}</em> et 2 points à répartir dans les caractéristiques qui y sont liées.
                        {% endblocktrans %}
                    {% else %}
                        {% if great_deed.aspect_1 %}
                            {% blocktrans trimmed with aspect_name=great_deed.aspect_1.name %}
                                1 point bonus dans l'aspect <em>{{ aspect_name }}</em> et 2 points à répartir dans les caractéristiques qui y sont liées.
                            {% endblocktrans %}
                        {% else %}
                            {% trans "1 point bonus dans un aspect et 2 points à répartir dans les caractéristiques qui y sont liées." %}
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    
    {% if great_deed.faq_text or great_deed.questions.all %}
        {% include 'gm/misc/faq_text.html' with faq_text=great_deed.faq_text questions=great_deed.questions.all %}
    {% endif %}
{% endblock %}
