{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}
{% load gm_extras %}

{% block title %}{% trans "Mecha-armure" %} {{ mecha.name }} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:mecha_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des mecha-armures" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ mecha.name }}</h1>
        <h4 class="text-center">
            {% if not mecha.is_allowed %}
                <span class="badge badge-pill badge-primary">{% trans 'Résilience' %} ?</span>
                <span class="badge badge-pill badge-armour">{% trans 'Blindage' %} ?</span>
                <span class="badge badge-pill badge-force-field">{% trans 'CdF' %} ?</span>
            {% else %}
                <span class="badge badge-pill badge-primary">{% trans 'Résilience' %} {{ mecha.resilience }}</span>
                <span class="badge badge-pill badge-armour">{% trans 'Blindage' %} {{ mecha.armour_plating }}</span>
                <span class="badge badge-pill badge-force-field">{% trans 'CdF' %} {{ mecha.force_field }}</span>
               {% include 'users/favorite_on_item.html' with type="mecha" id=mecha.id is_favorite=mecha.is_favorite %}
            {% endif %}
        </h4>
        <h5 class="text-center">
            {% if not mecha.is_allowed %}
                <span class="badge badge-pill badge-info">{% trans 'Vitesse' %} ?</span>
                <span class="badge badge-pill badge-info">{% trans 'Manœuvrabilité' %} ?</span>
                <span class="badge badge-pill badge-info">{% trans 'Puissance' %} ?</span>
                <span class="badge badge-pill badge-info">{% trans 'Senseurs' %} ?</span>
                <span class="badge badge-pill badge-info">{% trans 'Systèmes' %} ?</span>
            {% else %}
                <span class="badge badge-pill badge-info">{% trans 'Vitesse' %} {{ mecha.speed }}</span>
                <span class="badge badge-pill badge-info">{% trans 'Manœuvrabilité' %} {{ mecha.maneuverability }}</span>
                <span class="badge badge-pill badge-info">{% trans 'Puissance' %} {{ mecha.power }}</span>
                <span class="badge badge-pill badge-info">{% trans 'Senseurs' %} {{ mecha.sensors }}</span>
                <span class="badge badge-pill badge-info">{% trans 'Systèmes' %} {{ mecha.systems }}</span>
            {% endif %}
        </h5>
        {% if mecha.password and user.game_master %}
            <p>{% trans "Mot de passe pour débloquer cette mécha-armure protégée :" %} <span class="font-italic">{{ mecha.password }}</span></p>
        {% endif %}
    </div>
    {% if not mecha.is_allowed %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% trans "Accréditations limitées" %}
                </h5>
            </div>
            <div class="card-body text-justify">
                {% blocktrans trimmed %}
                    Vous n'avez pas les accréditations nécessaires pour visualiser cette page.
                    Vous pouvez demander le code d'activation à votre MJ, qui doit l'avoir visible sur cette même page.
                    Une fois le code en votre possession, allez dans votre profil et dans la section "Accréditations",
                    collez le code fourni. Il vous débloquera l'accès à la mecha-armure, qui sera dans la liste correspondante.
                {% endblocktrans %}
            </div>
        </div>
    {% else %}
        <div class="card mb-3">
            <div class="card-header position-relative">
                <a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
                    <h5 class="font-weight-bold font-italic mb-0">
                        {% trans "Description" %}
                        <i class="fa fa-plus-square"></i>
                    </h5>
                </a>
            </div>
            <div id="collapseDescription" class="collapse" aria-labelledby="description">
                <div class="card-body">
                    <div class="text-justify">
                        {{ mecha.description|linebreaks }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% trans "Modules et armes" %}
                </h5>
            </div>
            <div class="card-body" >
                {% for action in mecha.actions_list %}
                    {% include 'gm/misc/mecha_action.html' with action=action %}
                {% endfor %}
            </div>
        </div>
        
        <div>
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                {% for config in mecha.configurations_list %}
                    <li class="nav-item">
                        <a class="nav-link {% if loop.first %}active{% endif %}" id="config{{ config.id }}-tab" data-toggle="tab" href="#config{{ config.id }}" role="tab" aria-controls="config{{ config.id }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{% trans "Configuration" %} {{ config.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for config in mecha.configurations_list %}
                    <div class="tab-pane fade show {% if loop.first %}active{% endif %}" id="config{{ config.id }}" role="tabpanel" aria-labelledby="config{{ config.id }}-tab">
                        <div class="mt-2 markdown-format text-justify">
                            {{ config.description|safe_markdown }}
                        </div>
                        {% for action in config.actions.all %}
                            {% include 'gm/misc/mecha_action.html' with action=action %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        
        
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% trans "Règles titanesques" %}
                </h5>
            </div>
            <div class="card-body" >
                <div class="card mb-3">
                    <div class="card-header">
                        <h6 class="font-weight-bold font-italic mb-0">{% trans "Puissance titanesque" %}</h6>
                    </div>
                    <div class="card-body">
                        <p>{% trans "Pour représenter la puissance d'une mecha-armure, voici quelques règles simples :" %}</p>
                        <ul>
                            <li>{% trans "Les dégâts infligés par une mecha-armure sont toujours considérés comme possédant l'effet anti-véhicule." %}</li>
                            <li>{% trans "Les dégâts infligés par une mecha-armure sont multipliés par dix lorsqu'une attaque est portée contre un ennemi de taille sensiblement inférieure, c'est-à-dire jusqu'à 6 mètres de haut maximum." %}</li>
                            <li>{% trans "Si l'effet n'est pas indiqué sur l'arme ou le module utilisé, toute les attaques d'une mecha-armure reçoivent l'effet dispersion 9 sur les ennemis de taille sensiblement inférieure, c'est-à-dire jusqu'à 6 mètres de haut maximum." %}</li>
                            <li>{% trans "La violence infligée par une mecha-armure impacte toujours considérablement les ennemis mal équipés. Pour représenter cela, la violence infligée par une mecha-armure est multipliée par dix lorsqu'elle cible des ennemis humains sans champ de force ou une bande avec un score de Chair inférieur à 14." %}</li>
                            <li>{% trans "Une mecha-armure peut soulever jusqu'à 400 tonnes, peu importe son modèle." %}</li>
                            <li>{% trans "Une mecha-armure peut agir sans test sur son environnement direct. Soulever un camion ou faire tomber un immeuble ne nécessitent pas de jet de dés." %}</li>
                            <li>{% trans "Une mecha-armure du Knight possède toujours la règle invulnérabilité, c'est-à-dire qu'il faut briser sa résilience avant de lui faire le moindre dégât, même lorsque les attaques possèdent l'effet anti-véhicule." %}</li>
                            <li>{% trans "Pour une action de déplacement, une mecha-armure peut se déplacer jusqu'à portée longue sans effectuer de test." %}</li>
                            <li>{% trans "Un chevalier en mecha-armure ne dispose que de ses overdrives, pas de ses autres modules." %}</li>
                        </ul>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">
                        <h6 class="font-weight-bold font-italic mb-0">{% trans "Actions multiples" %}</h6>
                    </div>
                    <div class="card-body">
                        <p>
                            {% blocktrans trimmed %}
                                Les mecha-armures sont autant des armes de guerre que des véhicules dotés de nombreux équipements. Pour représenter cela, chaque mecha-armure dispose, en plus de son action de combat et de son action de déplacement, de deux autres actions de combat offertes par la capacité actions multiples (2). Chacune de ces actions supplémentaires doit servir à utiliser des armes, capacités ou modules différents. Il n'est possible d'utiliser plusieurs fois dans le tour une capacité, une arme ou un module que si elle est présente plusieurs fois dans le profil de la mecha-armure. Cette restriction représente le fait qu'une mecha-armure peut agir de manière multiple uniquement grâce à son équipement varié.
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>
                
                <div class="card mb-3">
                    <div class="card-header">
                        <h6 class="font-weight-bold font-italic mb-0">{% trans "Auto-réparation" %}</h6>
                    </div>
                    <div class="card-body">
                        <p>{% trans "En dépensant 1 noyau d'énergie et une action de déplacement, un pilote peut toujours décider d'enclencher l'autoréparation de sa mecha-armure et d'effectuer un test sous la caractéristique systèmes." %}</p>
                        <p>{% trans "L'autoréparation fonctionne de deux manières différentes :" %}</p>
                        <p>{% trans "D'abord, le pilote peut décider de réparer le blindage de sa mecha-armure. Pour effectuer cela, il doit effectuer un test d'autoréparation dont la difficulté est à déterminer selon le tableau suivant :" %}</p>
                        <table class="table table-sm table-bordered table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="w-50 text-center">Blindage restant</th>
                                    <th scope="col" class="w-50 text-center">Difficulté</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if user.game_master %}
                                    <tr>
                                        <td class="text-center">{% trans "De 75% à 100%" %}</td>
                                        <td class="text-center">4</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">{% trans "De 50% à 74%" %}</td>
                                        <td class="text-center">7</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">{% trans "De 25% à 49%" %}</td>
                                        <td class="text-center">10</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">{% trans "De 0 % à 24%" %}</td>
                                        <td class="text-center">15</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="2">{% trans "Informations réservées aux MJs" %}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        <p>{% trans "Lorsque le pilote rate son test, rien ne se passe. S'il le réussit, il permet à sa mecha-armure de récupérer 2D6 + 6 points de blindage." %}</p>
                        {% if user.game_master %}
                            <p>{% trans "Autrement, un chevalier peut faire remonter sa valeur de résilience (même si elle est à 0) en effectuant une autoréparation dont la difficulté est égale à la différence entre sa valeur maximale de résilience et sa valeur actuelle divisée par deux. Le nombre de réussites supérieures à la difficulté donnent le nombre de points de résilience récupérés." %}</p>
                        {% else %}
                            <p>{% trans "Autrement, un chevalier peut faire remonter sa valeur de résilience (même si elle est à 0) en effectuant une autoréparation dont le calcul de difficulté et les effets sont réservées aux MJs." %}</p>
                        {% endif %}
                        <p><strong>{% trans "Attention :" %}</strong> {% trans "Une valeur de résilience ne peut jamais aller au-delà de son maximum." %}</p>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header">
                        <h6 class="font-weight-bold font-italic mb-0">{% trans "Zones" %}</h6>
                    </div>
                    <div class="card-body">
                        <p>{% trans "À la différence des lieux des combat des méta-armures, les endroits où se battent des mecha-armures sont bien plus gigantesques. Pour symboliser cela, ils sont nommés « zones » et représentent les théâtres de batailles colossales. Par défaut, une zone est approximativement un cercle de 6 kilomètres de diamètre, pouvant représenter par exemple un port, un quartier où se situe une conforteresse, un centre-ville, une base militaire, etc." %}</p>
                        <p>{% trans "Au sein d'une bataille ou de scénarios spécifiques, plusieurs zones peuvent être présentes. Bien entendu, des chevaliers en mecha-armure peuvent changer de zones, mais celles-ci étant très espacées les unes des autres, on considère qu'ils ne peuvent pas agir sur une zone autre que la leur (sauf mention contraire dans les règles de la mecha-armure)." %}</p>
                        <p>{% trans "Lorsque les règles concernant les mecha-armures s'appliquent, les portées sont modifiées pour correspondre à la grandeur des zones. Voici comment les modifier en fonction de la scène :" %}</p>
                            <ul>
                                <li>{% trans "Une portée contact équivaut à une distance de 50 mètres maximum." %}</li>
                                <li>{% trans "Une portée courte équivaut à une distance comprise entre 51 et 300 mètres." %}</li>
                                <li>{% trans "Une portée moyenne équivaut à une distance comprise entre 301 mètres et 1 kilomètre." %}</li>
                                <li>{% trans "Une portée longue équivaut à une distance comprise entre 1,1 et 3 kilomètres." %}</li>
                                <li>{% trans "Une portée lointaine équivaut à une distance comprise entre 3,1 et 6 kilomètres." %}</li>
                                <li>{% trans "Pour finir, il existe aussi la portée Zone entière qui couvre l'intégralité de la zone de bataille dans laquelle se trouve le personnage." %}</li>
                            </ul>
                        <p>{% trans "Les mecha-armures, bien qu'immenses, peuvent sembler lentes. Ainsi, se déplacer dans une zone avec une action de déplacement permet à un PJ en mecha-armure de parcourir une distance équivalente à une portée courte et un PJ peut bien entendu courir en dépensant une action de déplacement et une action de combat pour parcourir une distance égale à portée moyenne." %}</p>
                        <p><strong>{% trans "Attention :"%}</strong> {% trans "Pensez aux dégâts sur l'environnement proche, car les mecha-armures sont des engins aussi dangereux qu'énormes lorsqu'ils sont lancés à pleine vitesse. À cause de cette relative lenteur, plusieurs modules de déplacement équipent généralement les mecha-armures du Knight et leur permettent de se déplacer plus aisément dans une zone." %}</p>
                    </div>
                </div>
            </div>
        </div>
        
        {% if mecha.faq_text or mecha.questions.all %}
            {% include 'gm/misc/faq_text.html' with faq_text=mecha.faq_text questions=mecha.questions.all %}
        {% endif %}
    {% endif %}
{% endblock %}
