{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{{ overdrive.characteristic.name }} {% trans "niv." %} {{ overdrive.level }} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:overdrive_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des overdrives" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ overdrive.characteristic.name}} {% trans "niv." %} {{ overdrive.level }}</h1>
        <h4 class="text-center">
            <span class="badge badge-pill badge-secondary">{{ overdrive.characteristic.aspect.name }}</span>
            <span class="badge badge-pill badge-custom-rarity-{{overdrive.rarity.id}}">{{ overdrive.rarity.name }}</span>
            <span class="badge badge-pill badge-secondary">{{ overdrive.cost }} {% trans "PG" %}</span>
        </h4>
    </div>
    {% if overdrive.description %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">{% trans "Description" %}</h5>
            </div>
            <div class="card-body markdown-format text-justify">
                {{ overdrive.description|safe_markdown }}
            </div>
        </div>
    {% endif %}
    
    {% if overdrive.faq_text or overdrive.questions.all %}
        {% include 'gm/misc/faq_text.html' with faq_text=overdrive.faq_text questions=overdrive.questions.all %}
    {% endif %}
{% endblock %}