{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Trauma" %} {{ trauma.name }} - {% endblock %}

{% block content %}
    {% if user.is_authenticated and user.game_master %}
        <a href="{% url 'gm:trauma_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des traumas" %}</a>
    {% else %}
        <a href="{% url 'gm:index' %}">{% trans "Accueil" %}</a>
    {% endif %}
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ trauma.name }}</h1>
        {% if trauma.is_allowed %}
            <h4 class="text-center">
                <span class="badge badge-pill badge-secondary">{{ trauma.category.name }}</span>
                <span class="badge badge-pill badge-secondary">+{{ trauma.category.hop_recovered }} {% trans "PES" %}</span>
                {% if trauma.die_value %}
                    <span class="badge badge-pill badge-secondary">D6 = {{ trauma.die_value }}</span>
                {% endif %}
            </h4>
            {% if trauma.password and user.game_master %}
                <p>{% trans "Mot de passe pour accéder à ce trauma :" %} <span class="font-italic">{{ trauma.password }}</span></p>
            {% endif %}
        {% endif %}
    </div>
    {% if not trauma.is_allowed %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% trans "Pleine santé" %}
                </h5>
            </div>
            <div class="card-body text-justify">
                {% blocktrans trimmed %}
                    Il semblerait que vous n'ayez aucune séquelle. Si vous deviez subir ce trauma, demandez
                    le code d'activation à votre MJ, qui doit l'avoir visible sur cette même page.
                    Une fois le code en votre possession, allez dans votre profil et dans la section "Accréditations",
                    collez le code fourni. Il vous donnera accès au descriptif de ce trauma.
                {% endblocktrans %}
            </div>
        </div>
    {% else %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="font-weight-bold font-italic mb-0">
                    {% trans 'Description' %}
                </h5>
            </div>
            <div class="card-body text-justify">
                <div class="markdown-format">
                    {{ trauma.description|safe_markdown }}
                </div>
            </div>
        </div>
        
        {% if trauma.faq_text or trauma.questions.all %}
            {% include 'gm/misc/faq_text.html' with faq_text=trauma.faq_text questions=trauma.questions.all %}
        {% endif %}
    {% endif %}
{% endblock %}
