{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Véhicule" %} {{ vehicle.name }} - {% endblock %}

{% block content %}
    <a href="{% url 'gm:vehicle_list' %}"><i class="fas fa-arrow-circle-left"></i> {% trans "Liste des véhicules" %}</a>
    <div class="p-3 my-2">
        <h1 class="text-center font-weight-bold">{{ vehicle.name }}</h1>
    </div>
    {% include 'gm/misc/vehicle_detail.html' with vehicle=vehicle only %}
    
    {% if vehicle.faq_text or vehicle.questions.all %}
        {% include 'gm/misc/faq_text.html' with faq_text=vehicle.faq_text questions=vehicle.questions.all %}
    {% endif %}
{% endblock %}