{% extends 'gm/base.html' %}
{% load static %}
{% load martortags %}
{% load i18n %}

{% block title %}{% trans "Liste des modules" %} - {% endblock %}

{% block display_printer %}d-sm-block{% endblock display_printer %}
{% block printer %}{% url 'gm:print_module' %}{% endblock printer %}

{% block content %}
    <div class="d-print-block">
        {% regroup module_list by category as module_category_list %}
        
        {% for category, modules in module_category_list %}
            <div style="page-break-after: always;">
                <h1 class="text-center m-5 bg-secondary">
                    {{ category.name }}
                </h1>
                
                {% for module in modules %}
                    <div class="border px-3 py-2 mb-2">
                        <h2 class="text-center mb-2 border">
                            {{ module.name }}
                        </h2>
                        {% for level in module.levels.all %}
                            <div style="page-break-inside: avoid;">
                                <h3>{% if module.levels.all|length > 1 %}{% trans "Niveau" %} {{ level.level }}/{{ module.max_level }}{% endif %} ({{ level.rarity.name }}) - {{ level.cost }}{% trans "PG" %}</h3>
                                <div class="text-justify">
                                    {% if level.description %}
                                        {{ level.description|safe_markdown }}
                                    {% endif %}
                                </div>
                            </div>
                            <table class="table table-sm" style="page-break-inside: avoid;">
                                <thead class="thead-light" style="page-break-inside: avoid;">
                                    <tr>
                                        <th scope="col">{% trans "Dégâts" %}</th>
                                        <th scope="col">{% trans "Violence" %}</th>
                                        <th scope="col">{% trans "Activation" %}</th>
                                        <th scope="col">{% trans "Durée" %}</th>
                                        <th scope="col">{% trans "Portée" %}</th>
                                        <th scope="col">{% trans "Énergie" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {% if level.get_damage %}
                                                {{ level.get_damage }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if level.get_violence %}
                                                {{ level.get_violence }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if level.activation %}
                                                {{ level.activation.name }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if level.duration %}
                                                {{ level.duration }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if level.reach %}
                                                {{ level.reach.name }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if level.energy > 0 %}
                                                {{ level.energy }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% if level.effects.all %}
                                <div style="page-break-inside: avoid;">
                                    {% regroup level.effects.all by choice_number as effect_list %}
                                    <ul>
                                        {% for choice, effects in effect_list %}
                                            <li>
                                                <em>
                                                    {% if choice > 0 %}{% trans "Choix" %} {{ choice }}{% else %}{% trans "Effet(s)" %}{% endif %}
                                                </em> :
                                                {% with first_effect=effects|first %}
                                                    {% if first_effect.forced_by_previous_level %}
                                                        {% blocktrans with prev=level.level|add:-1 choice=choice %}Effet choisi en choix {{ choice }} du niveau {{ prev }} {% endblocktrans %}
                                                    {% else %}
                                                        {% for effect in effects %}
                                                            {{ effect.get_title }}
                                                            {% if effect.effect_condition %}
                                                                *
                                                            {% endif %}
                                                            {% if not forloop.last %}
                                                                ;
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endwith %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
                <p><em>{% trans "* Les effets et choix marqués sont soumis à des conditions ou peuvent avoir des remarques spécifiques, voir la fiche complète du module pour plus d'informations." %}</em></p>
            </div>
        {% endfor %}
    </div>

    <link rel="stylesheet" type="text/css" href="{% static 'gm/dt/datatables.min.css' %}"/>
    {% with locale_dt='gm/dt/locale.'|add:LANGUAGE_CODE|add:'.js' %}
        <script type="text/javascript" src="{% static locale_dt %}"></script>
    {% endwith %}
    <script type="text/javascript" src="{% static 'gm/dt/datatables.min.js' %}"></script>
{% endblock %}