{% extends 'gm/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "À propos" %} - {% endblock %}

{% block content %}
    <h3 class="mt-5">{% trans "Remerciements" %}</h3>
    <div>
        <p>{% blocktrans %}Merci à Antre-monde, Simon Gabillaud, Coline Pignat et tous les auteurs du Jeu de Rôle Knight ainsi que ses suppléments pour leur disponibilité, leur soutien et avoir permis l'existence de ce site d'aide en ligne.{% endblocktrans %}</p>
        <p>{% blocktrans %}Un immense merci aussi auprès de tous les testeurs du site, en particulier Ruvaakh, pour toutes les idées d'améliorations et les relectures.{% endblocktrans %}</p>
    </div>
    
    <div class="w-100 text-center knight-hr my-3"></div>
    
    <h3 class="mt-5">{% trans "Licence" %}</h3>
    <div>
        <p>{% blocktrans %}Le contenu du site est soumis aux droits d'auteur ©Antre-Monde Editions et n'est disponible que grâce à leur autorisation express.{% endblocktrans %}</p>
        
        <p>{% blocktrans %}La structure du site ainsi que le code est disponible sous licence <a href="https://www.gnu.org/licenses/gpl.html">GNU/GPL v3 et supérieur</a>. Toute contribution est la bienvenue, rejoignez le projet sur <a href="https://gitlab.com/Renkineko/knightools">gitlab</a>{% endblocktrans %}</p>
    </div>
    
    <div class="w-100 text-center knight-hr my-3"></div>
    
    <h3 class="mt-5">{% trans "Crédits techniques" %}</h3>
    <div class="row justify-content-center">
        <div class="col-12">
            <p>{% blocktrans %}Images réalisées spécifiquement pour le site par <a href="https://www.instagram.com/black.falcon/" title="">Black Falcon</a> :{% endblocktrans %}</p>
            <img style="max-width: 48px; max-height: 48px;" src="{% static 'gm/img/blackfalcon_armour_shape.png' %}">
        </div>
        <div class="col-6 text-center knight-hr my-3"></div>
        <div class="col-12">
            <p>{% blocktrans %}Images sous licence libre et fournies par <a href="https://icons8.com/" title="">icons8.com</a> :{% endblocktrans %}</p>
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-army-knife-filled-50.png' %}">
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-gun-filled-50.png' %}">
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-module-filled-50.png' %}">
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-hammer-filled-50.png' %}">
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-circuit-filled-50.png' %}">
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-bam-filled-50.png' %}">
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-fist-filled-50-2.png' %}">
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-fighter-jet-filled-50.png' %}">
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-lab-coat-filled-50.png' %}">
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-fortune-teller-filled-50.png' %}">
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-laurel-wreath-filled-50.png' %}">
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-defense-filled-50.png' %}">
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-iron-man-filled-50.png' %}">
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-people-filled-50.png' %}">
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-artificial-intelligence-filled-50.png' %}">
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-star-filled-50.png' %}">
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-table-filled-50.png' %}">
            <img class="inverted-on-dark" src="{% static 'gm/img/icons8-form-filled-50.png' %}">
        </div>
        <div class="col-6 text-center knight-hr my-3"></div>
        <div class="col-12">
            <p>{% blocktrans %}Images sous licence libre et fournies par <a href="https://thenounproject.com/" title="">The Noun Project</a> :{% endblocktrans %}</p>
            <a href="https://thenounproject.com/icon/2909350/"><img class="inverted-on-dark" height="50" src="{% static 'gm/img/noun_president_2909350.svg' %}"></a>
            <a href="https://thenounproject.com/icon/2909311/"><img class="inverted-on-dark" height="50" src="{% static 'gm/img/noun_Meeting_2909311.svg' %}"></a>
        </div>
        <div class="col-6 text-center knight-hr my-3"></div>
        <div class="col-12">
            <p>{% blocktrans %}Images provenant de Noun Project pour l'arsenal en ligne :{% endblocktrans %}</p>
            <ul>
                <li><a href="https://thenounproject.com/icon/2686185/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_panic_attack_2686185.svg' %}"> - Panic attack by Victoruler from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/1766731/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_giant_robot_1766731.svg' %}"> - Giant robot by sahua d from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/2360160/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_skill_magic_soul_strike_2360160.svg' %}"> - Skill magic soul strike by Maxicons from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/2227046/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_Bang_2227046.svg' %}"> - Bang by tulpahn from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/1755705/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_armor_1755705.svg' %}"> - Armor by lastspark from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/1069442/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_strategy_1069442.svg' %}"> - Strategy by Gem Designs from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/495574/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_Morning_Star_495574.svg' %}"> - Morning Star by David Alexander Slaager from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/1044767/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_forge_1044767.svg' %}"> - Forge by Monjin Friends from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/2052153/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_Fighter_Jet_2052153.svg' %}"> - Fighter Jet by Vectors Market from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/2234946/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_circuit_2234946.svg' %}"> - Circuit by ibrandify from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/2409451/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_module_2409451.svg' %}"> - Module by Adrien Coquet from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/2276680/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_tarot_card_2276680.svg' %}"> - Tarot card by DailyPM from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/585281/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_Laurel_585281.svg' %}"> - Laurel by Jems Mayor from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/2770877/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_Shield_2770877.svg' %}"> - Shield by shashank singh from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/3593723/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_peoples_3593723.svg' %}"> - Peoples by Musmellow from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/1927749/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_Artificial_Intelligence_1927749.svg' %}"> - Artificial Intelligence by Vectors Market from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/2302507/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_profile_2302507.svg' %}"> - profile by vigorn from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/2042875/"><img height="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_Oil Platform_2042875.svg' %}"> - Oil Platform by Template from the Noun Project</a></li>
                <li><a href="https://thenounproject.com/icon/2092582/"><img height="32" width="32" class="align-middle inverted-on-dark" src="{% static 'gm/img/noun_sniper_2092582.svg' %}"> - Sniper by Andrejs Kirma from the Noun Project</a></li>
            </ul>
        </div>
        <div class="col-6 text-center knight-hr my-3"></div>
        <div class="col-12">
            <p>{% blocktrans %}Images de notification provenant de Twemoji, licence CC-BY 4.0 :
            Copyright 2020 Twitter, Inc and other contributors
            Code licensed under the MIT License: http://opensource.org/licenses/MIT
            Graphics licensed under CC-BY 4.0: https://creativecommons.org/licenses/by/4.0/{% endblocktrans %}</p>
        </div>
    </div>
    
    <div class="w-100 text-center knight-hr my-3"></div>
    
    <h3 class="mt-5">{% trans "Changelog" %}</h3>
    <div class="text-justify">
        <ul>
            <li>{% blocktrans %}15/04/2021 - <strong>v0.8</strong> avec la mise en place du thème anathema par Ruvaakh et beaucoup de fix visuels. Le thème Graal n'est pas encore définitif. Mise en ligne officielle ! Quelques fixs suite au retour de cette mise en ligne. La version officielle se trouve sur https://knight-jdr-systeme.fr tandis que la version instable (beta) est sur https://beta.knightools.fr (les autres urls knightools redirigent sur le site classique). Attention : désormais, la version beta ne verra pas les modifications (créations de compte, création de table virtuelle, etc) synchronisées avec la version stable. Choisissez bien le site sur lequel vous vous baserez pour vos parties !{% endblocktrans %}</li>
            <li>{% blocktrans %}13/04/2021 - <strong>v0.7</strong> avec la gestion dans les tables virtuelles des actions de support (entraide entre PJ lors des tests) et l'inclusion d'avantage induit par la Geste dans les calculs de dégâts/combos. Reprise légère de l'interface des tables virtuelles.{% endblocktrans %}</li>
            <li>{% blocktrans %}15/01/2021 - <strong>v0.6</strong> avec l'ajout du calculateur longbow et l'amélioration des tables virtuelles : options d'ajout de jauges ainsi que des options d'affichage, refonte des fiches, ajout d'automatismes côté MJ (gestionnaire de dégâts), prise en compte des dégâts "récupérables" (capacités ennemies spécifiques).{% endblocktrans %}</li>
            <li>{% blocktrans %}20/11/2020 - <strong>v0.5</strong> avec la mise en place des nouveautés sections MJ (Attention, risque de spoil !) : traumas, mecha-armure et capacités PNJ.{% endblocktrans %}</li>
            <li>{% blocktrans %}28/08/2020 - <strong>v0.4</strong> avec la mise en place de la protection MJ pour limiter l'accès aux fonctionnalités réservées (création table virtuelle, armures protégées et fonctionnalités à venir). Intégration des données de la Geste et de 2038 (v1.5). Gestion de l'égide dans les tables virtuelles.{% endblocktrans %}</li>
            <li>{% blocktrans %}01/07/2020 - Gestion des jets côté MJ, avec possibilité de changer la visibilité des jets (public ou privé).{% endblocktrans %}</li>
            <li>{% blocktrans %}16/06/2020 - Ajout d'un historique des jets et la possibilité de les relancer.{% endblocktrans %}</li>
            <li>{% blocktrans %}22/01/2020 - <strong>v0.3</strong> avec la possibilité de gérer des jets dans la table virtuelle (combo et dégâts/violence).{% endblocktrans %}</li>
            <li>{% blocktrans %}18/10/2019 - Ajout de thèmes sombres.{% endblocktrans %}</li>
            <li>{% blocktrans %}03/10/2019 - Ajout de la possibilité de filtrer selon les sources.{% endblocktrans %}</li>
            <li>{% blocktrans %}20/09/2019 - Gestionnaire de favoris organisables en diverses listes.{% endblocktrans %}</li>
            <li>{% blocktrans %}01/09/2019 - <strong>v0.2</strong> avec un gestionnaire de table virtuelle temps réel permettant le partage de statistiques PS, PA, PE, PES, CdF, nods et grenades intelligentes, ainsi que la gestion des dégâts pour le MJ.{% endblocktrans %}</li>
            <li>{% blocktrans %}23/04/2019 - Intégration des données (armes, modules, armures, effets) provenant du supplément <em>2038</em> (première édition) et correction des données existantes en accord avec la FAQ v1.5 de décembre 2018.{% endblocktrans %}</li>
            <li>{% blocktrans %}15/04/2019 - Générateur d'IA disponible.{% endblocktrans %}</li>
            <li>{% blocktrans %}01/04/2019 - <strong>v0.1</strong> contenant les armes, modules, effets, overdrives, améliorations, capacités héroïques, archétypes, arcanes majeures, hauts faits, blasons, armures, et les sections du Livre de Base 1.5 et des codex 1,2,3,4. L'API v1 est aussi disponible.{% endblocktrans %}</li>
        </ul>
    </div>
{% endblock %}