{% load static %}
{% load martortags %}
{% load i18n %}
{% load gm_extras %}


{% if enhancements_list %}
<div class="card mb-3">
    <div class="card-header">
        <h5 class="font-weight-bold font-italic mb-0">
            {% blocktrans trimmed count counter=count_enhancements %}
                Amélioration disponible
                {% plural %}
                Améliorations disponibles
            {% endblocktrans %}
        </h5>
    </div>
    <div class="card-body">
        {% for enhancement in enhancements_list %}
            {% cycle 'opendeck' 'closedeck' as deck silent %}
            {% if deck == 'opendeck' %}
                <div class="card-deck">
            {% endif %}
                <div class="card mb-3">
                    <div class="card-header bg-dark">
                        <h6 class="font-italic mb-0 text-light">{{ enhancement.name }}</h6>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title">{{ enhancement.cost }} PG</h1>
                        {% if enhancement.group == 'CO' %}
                            <h2 class="card-subtitle mb-2 text-muted">({{ enhancement.restriction }})</h2>
                        {% endif %}
                        <table class="table table-sm table-striped">
                            <thead class="thead-light text-center">
                                <th scope="col" class="w-50">{% trans "Effet" %}</th>
                                <th scope="col" class="w-50">{% trans "Condition" %}</th>
                            </thead>
                            <tbody>
                                {% for effect in enhancement.effects.all %}
                                    <tr>
                                        <td>
                                            {% if effect.effect %}
                                                {% include 'gm/misc/effect_link.html' with effect=effect only %}
                                            {% else %}
                                                {{ effect.get_name }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if effect.effect_condition %}
                                                {{ effect.effect_condition }}
                                            {% else %}
                                                <div class="text-center">-</div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
                {% if forloop.last and deck != 'closedeck' %}
                    {% comment %}XXX a little hacky, I don't know how to setup card to always be the same width properly.{% endcomment %}
                    <div class="card mb-3 border-0 ghost-card"></div>
                {% endif %}
            {% if deck == 'closedeck' or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
