{% load i18n %}
{% load static %}
{% load martortags %}

<div class="card mb-3">
	<div class="card-header position-relative">
		<a class="text-decoration-none stretched-link" data-toggle="collapse" href="#collapseFaq" aria-expanded="false" aria-controls="collapseFaq">
			<h5 class="font-weight-bold font-italic mb-0">
				{% trans "FAQ" %}
				<i class="fa fa-plus-square"></i>
			</h5>
		</a>
	</div>
	<div id="collapseFaq" class="collapse" aria-labelledby="faq">
		<div id="faq" class="card-body text-justify markdown-format">
			{{ faq_text|safe_markdown }}
			{% for question in questions %}
				<h2>{{ question.question }}</h2>
				{{ question.answer|safe_markdown }}
			{% endfor %}
		</div>
	</div>
</div>
