{% extends 'gm/base.html' %}
{% load static %}
{% load i18n %}

{% block warning %}
    {% if KNIGHTOOLS_SITE_BETA %}
    <div class="alert alert-warning text-center" role="alert">
        Vous êtes ici sur la branche bêta du site ! Prudence.
        {% if KNIGHTOOLS_SITE_FINAL_URL %}
            Pour utiliser la version stable : <a href="http://{{ KNIGHTOOLS_SITE_FINAL_URL }}">www.knight-jdr-systeme.fr</a>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-wrap m-3 justify-content-center">
        <div class="col-12 bg-dark">
            <h4 class="text-center text-light font-weight-bold font-italic">{% trans 'Arsenal' %}</h4>
        </div>
        <div class="col-12 col-lg-3 my-3">
            <a href="{% url 'gm:weapon_list' %}" class="text-info">
                <div class="p-2 text-center border">
                    {% spaceless %}
                        <span>{% trans "Armes" %}</span>
                        <br>
                        <img src="{% static 'gm/img/noun_Morning_Star_495574.svg' %}" class="inverted-on-dark main-icon">
                    {% endspaceless %}
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 my-3">
            <a href="{% url 'gm:module_list' %}" class="text-info">
                <div class="p-2 text-center border">
                    {% spaceless %}
                        <span>{% trans "Modules" %}</span>
                        <br>
                        <img src="{% static 'gm/img/noun_module_2409451.svg' %}" class="inverted-on-dark main-icon">
                    {% endspaceless %}
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 my-3">
            <a href="{% url 'gm:enhancement_list' %}" class="text-info">
                <div class="p-2 text-center border">
                    {% spaceless %}
                        <span>{% trans "Améliorations" %}</span>
                        <br>
                        <img src="{% static 'gm/img/noun_forge_1044767.svg' %}" class="inverted-on-dark main-icon">
                    {% endspaceless %}
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 my-3">
            <a href="{% url 'gm:overdrive_list' %}" class="text-info">
                <div class="p-2 text-center border">
                    {% spaceless %}
                        <span>{% trans "Overdrives" %}</span>
                        <br>
                        <img src="{% static 'gm/img/noun_circuit_2234946.svg' %}" class="inverted-on-dark main-icon">
                    {% endspaceless %}
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 my-3">
            <a href="{% url 'gm:effect_list' %}" class="text-info">
                <div class="p-2 text-center border">
                    {% spaceless %}
                        <span>{% trans "Effets" %}</span>
                        <br>
                        <img src="{% static 'gm/img/noun_Bang_2227046.svg' %}" class="inverted-on-dark main-icon">
                    {% endspaceless %}
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 my-3">
            <a href="{% url 'gm:skill_list' %}" class="text-info">
                <div class="p-2 text-center border">
                    {% spaceless %}
                        <span>{% trans "Capacités Héroïques" %}</span>
                        <br>
                        <img src="{% static 'gm/img/noun_strategy_1069442.svg' %}" class="inverted-on-dark main-icon">
                    {% endspaceless %}
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 my-3">
            <a href="{% url 'gm:vehicle_list' %}" class="text-info">
                <div class="p-2 text-center border">
                    {% spaceless %}
                        <span>{% trans "Véhicules" %}</span>
                        <br>
                        <img src="{% static 'gm/img/noun_Fighter_Jet_2052153.svg' %}" class="inverted-on-dark main-icon">
                    {% endspaceless %}
                </div>
            </a>
        </div>
        <div class="col-12 bg-dark mt-3">
            <h4 class="text-center text-light font-weight-bold font-italic">{% trans 'Création de personnage' %}</h4>
        </div>
        <div class="col-12 col-lg-3 my-3">
            <a href="{% url 'gm:archetype_list' %}" class="text-info">
                <div class="p-2 text-center border">
                    {% spaceless %}
                        <span>{% trans "Archétypes" %}</span>
                        <br>
                        <img src="{% static 'gm/img/noun_president_2909350.svg' %}" class="inverted-on-dark main-icon">
                    {% endspaceless %}
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 my-3">
            <a href="{% url 'gm:arcana_list' %}" class="text-info">
                <div class="p-2 text-center border">
                    {% spaceless %}
                        <span>{% trans "Arcanes" %}</span>
                        <br>
                        <img src="{% static 'gm/img/noun_tarot_card_2276680.svg' %}" class="inverted-on-dark main-icon">
                    {% endspaceless %}
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 my-3">
            <a href="{% url 'gm:great_deed_list' %}" class="text-info">
                <div class="p-2 text-center border">
                    {% spaceless %}
                        <span>{% trans "Hauts-faits" %}</span>
                        <br>
                        <img src="{% static 'gm/img/noun_Laurel_585281.svg' %}" class="inverted-on-dark main-icon">
                    {% endspaceless %}
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 my-3">
            <a href="{% url 'gm:crest_list' %}" class="text-info">
                <div class="p-2 text-center border">
                    {% spaceless %}
                        <span>{% trans "Blasons" %}</span>
                        <br>
                        <img src="{% static 'gm/img/noun_Shield_2770877.svg' %}" class="inverted-on-dark main-icon">
                    {% endspaceless %}
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 my-3">
            <a href="{% url 'gm:armour_list' %}" class="text-info">
                <div class="p-2 text-center border">
                    {% spaceless %}
                        <span>{% trans "Armures" %}</span>
                        <br>
                        <img src="{% static 'gm/img/noun_armor_1755705.svg' %}" class="inverted-on-dark main-icon">
                    {% endspaceless %}
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 my-3">
            <a href="{% url 'gm:division_list' %}" class="text-info">
                <div class="p-2 text-center border">
                    {% spaceless %}
                        <span>{% trans "Sections" %}</span>
                        <br>
                        <img src="{% static 'gm/img/noun_peoples_3593723.svg' %}" class="inverted-on-dark main-icon">
                    {% endspaceless %}
                </div>
            </a>
        </div>
        
        {% if user.is_authenticated and user.access_to_restricted_area %}
            <div class="col-12 bg-dark mt-3">
                <h4 class="text-center text-light font-weight-bold font-italic">
                    {% if user.game_master %}
                        {% trans "Accès MJ" %}
                    {% else %}
                        {% trans "Accès restreint" %}
                    {% endif %}
                </h4>
            </div>
            {% if user.is_trauma_visible %}
                <div class="col-12 col-lg-3 my-3">
                    <a href="{% url 'gm:trauma_list' %}" class="text-info">
                        <div class="p-2 text-center border">
                            {% spaceless %}
                                <span>{% trans "Traumas" %}</span>
                                <br>
                                <img src="{% static 'gm/img/noun_panic_attack_2686185.svg' %}" class="inverted-on-dark main-icon">
                            {% endspaceless %}
                        </div>
                    </a>
                </div>
            {% endif %}
            {% if user.is_mecha_visible %}
                <div class="col-12 col-lg-3 my-3">
                    <a href="{% url 'gm:mecha_list' %}" class="text-info">
                        <div class="p-2 text-center border">
                            {% spaceless %}
                                <span>{% trans "Mecha-armures" %}</span>
                                <br>
                                <img src="{% static 'gm/img/noun_giant_robot_1766731.svg' %}" class="inverted-on-dark main-icon">
                            {% endspaceless %}
                        </div>
                    </a>
                </div>
            {% endif %}
            {% if user.is_npc_capacity_visible %}
                <div class="col-12 col-lg-3 my-3">
                    <a href="{% url 'gm:npc_capacity_list' %}" class="text-info">
                        <div class="p-2 text-center border">
                            {% spaceless %}
                                <span>{% trans "Capacités PNJ" %}</span>
                                <br>
                                <img src="{% static 'gm/img/noun_skill_magic_soul_strike_2360160.svg' %}" class="inverted-on-dark main-icon">
                            {% endspaceless %}
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endif %}
        
        <div class="col-12 bg-dark mt-3">
            <h4 class="text-center text-light font-weight-bold font-italic">{% trans 'Calculateurs' %}</h4>
        </div>
        <div class="col-12 col-lg-3 my-3">
            <a href="{% url 'gm:ai_generator' %}" class="text-info">
                <div class="p-2 text-center border">
                    {% spaceless %}
                        <span>{% trans "Générateur d'IA" %}</span>
                        <br>
                        <img src="{% static 'gm/img/noun_Artificial_Intelligence_1927749.svg' %}" class="inverted-on-dark main-icon">
                    {% endspaceless %}
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-3 my-3">
            <a href="{% url 'gm:longbow_calculator' %}" class="text-info">
                <div class="p-2 text-center border">
                    {% spaceless %}
                        <span>{% trans "Calculateur Longbow" %}</span>
                        <br>
                        <img src="{% static 'gm/img/noun_sniper_2092582.svg' %}" class="inverted-on-dark main-icon">
                    {% endspaceless %}
                </div>
            </a>
        </div>
        
        <div class="col-12 bg-dark mt-3">
            <h4 class="text-center text-light font-weight-bold font-italic">{% trans 'Compte' %}</h4>
        </div>
        {% if user.is_authenticated %}
            <div class="col-12 col-lg-3 my-3">
                <a href="{% url 'users:fav_list' %}" class="text-info">
                    <div class="p-2 text-center border">
                        {% spaceless %}
                            <span>{% trans "Favoris" %}</span>
                            <br>
                            <img src="{% static 'gm/img/icons8-star-filled-50.png' %}" class="inverted-on-dark main-icon">
                        {% endspaceless %}
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-3 my-3">
                <a href="{% url 'virtualtable:vt_list' %}" class="text-info">
                    <div class="p-2 text-center border">
                        {% spaceless %}
                            <span>{% trans "Tables virtuelles" %}</span>
                            <br>
                            <img src="{% static 'gm/img/noun_Meeting_2909311.svg' %}" class="inverted-on-dark main-icon">
                        {% endspaceless %}
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-3 my-3 d-none">
                <a href="#todo" class="text-info">
                    <div class="p-2 text-center border">
                        {% spaceless %}
                            <span>{% trans "Fiches de personnage" %}</span>
                            <br>
                            <img src="{% static 'gm/img/noun_profile_2302507.svg' %}" class="inverted-on-dark main-icon">
                        {% endspaceless %}
                    </div>
                </a>
            </div>
        {% else %}
            <div class="col-12 font-italic text-center">
                {% url 'account_login' as url_login %}
                {% blocktrans trimmed with url_next=request.path %}
                <a href="{{url_login}}?next={{url_next}}">Connectez-vous</a> ou <a href="{{url_login}}?next={{url_next}}">inscrivez-vous</a> au site pour accéder à plus de fonctionnalités, comme les tables virtuelles, les favoris ou la fiche de personnage (soon&trade;).
                {% endblocktrans%}
            </div>
        {% endif %}
    </div>
{% endblock %}
